@charset "UTF-8";
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #1a1a1a;
}

html img, body img {
  width: 100%;
  height: auto;
  display: block;
}

body.modal {
  position: fixed;
}

p, a, span, div {
  color: #ffffff;
  font-size: 18px;
  font-family: "游ゴシック Medium","游ゴシック体","Yu Gothic Medium",YuGothic,"メイリオ",Meiryo,Lato,"Noto Sans JP","ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  vertical-align: middle;
  line-height: 2em;
}

@media screen and (max-width: 768px) {
  p, a, span, div {
    font-size: 4.787vw;
  }
}

h1 {
  color: #ffffff;
  font-size: 54px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  vertical-align: middle;
  margin-bottom: 35px;
  line-height: 1.2em;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 6.9333vw;
  }
}

h2 {
  color: #ffffff;
  font-size: 35px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  vertical-align: middle;
  margin-bottom: 27px;
  line-height: 1.2em;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 6.9333vw;
    margin-bottom: 13.829vw;
  }
}

a, a img {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

a:hover, a img:hover {
  opacity: 0.6;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@media screen and (max-width: 768px) {
  .pcOnly {
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  .spOnly {
    display: none !important;
  }
}

.story {
  position: relative;
}

.js-inview .mainImg-box {
  opacity: 0;
  -webkit-transform: translate(0, 20px);
  transform: translate(0, 20px);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.js-inview .mainLead-box {
  opacity: 0;
  -webkit-transform: translate(0, 20px);
  transform: translate(0, 20px);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  transition-delay: .7s;
  -webkit-transition-delay: .7s;
}

.js-inview .mainBar {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 0;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
}

.js-inview.inview .mainImg-box {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.js-inview.inview .mainLead-box {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.js-inview.inview .mainBar {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  width: 100%;
  opacity: 1;
  -webkit-transition-duration: .7s;
  transition-duration: .7s;
}

.mainImg {
  padding-top: 85px;
  margin-bottom: 130px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .mainImg {
    padding-top: 16.361vw;
    margin-bottom: 13.297vw;
  }
}

.mainImg .text {
  position: absolute;
  top: 29vh;
  width: 58%;
  left: 4vw;
}

@media screen and (max-width: 768px) {
  .mainImg .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) !important;
    -webkit-transform: translateY(-50%) translateX(-50%) !important;
    width: 90.425vw;
  }
}

.mainImg .js-inview {
  opacity: 0;
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
  -webkit-transition-duration: .75s;
          transition-duration: .75s;
  -webkit-transition-timing-function: cubic-bezier(0.08, 0.38, 0.24, 0.98);
          transition-timing-function: cubic-bezier(0.08, 0.38, 0.24, 0.98);
}

.mainImg .js-inview.inview {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.mainImg .mainBar {
  height: 12px;
  background: red;
  background: -webkit-gradient(linear, left top, right top, from(red), color-stop(17%, #d239f3), color-stop(33%, #1b3df7), color-stop(50%, #41f9f9), color-stop(67%, #3df74e), color-stop(83%, #f9ff00), to(#e85a02));
  background: linear-gradient(90deg, red 0%, #d239f3 17%, #1b3df7 33%, #41f9f9 50%, #3df74e 67%, #f9ff00 83%, #e85a02 100%);
}

#topTextWrap #topTextInner {
  max-width: 1135px;
  margin: 0 auto 120px;
  padding: 0 140px 30px 30px;
}

@media screen and (max-width: 1200px) {
  #topTextWrap #topTextInner {
    padding: 0 7% 30px 30px;
  }
}

@media screen and (max-width: 1060px) {
  #topTextWrap #topTextInner {
    padding: 0 30px 30px;
  }
}

@media screen and (max-width: 768px) {
  #topTextWrap #topTextInner {
    padding: 0 30px;
  }
}

.mainWrap {
  margin: 0 auto;
}

.mainWrap .innerTextWrap {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto 115px;
}

@media screen and (max-width: 768px) {
  .mainWrap .innerTextWrap {
    padding: 0 6.648vw;
    margin-bottom: 19.148vw;
  }
}

.mainWrap .innerTextWrap #innerTopWrap img {
  width: 44%;
  float: right;
  margin-left: 40px;
  margin-bottom: 35px;
}

@media screen and (max-width: 768px) {
  .mainWrap .innerTextWrap #innerTopWrap img {
    width: 100%;
    float: initial;
    margin: 0 0 11.968vw;
  }
}

.mainWrap .innerTextWrap #innerTopWrap p {
  display: inline;
}

.mainWrap .innerTextWrap img.innerSingle {
  padding: 40px 0px;
}

@media (max-width: 768px) {
  .mainWrap .innerTextWrap img.innerSingle {
    padding: 10.638vw 0;
  }
}

.mainWrap .innerTextWrap .innerLine {
  margin-bottom: 27px;
}

@media (max-width: 768px) {
  .mainWrap .innerTextWrap .innerLine {
    margin-bottom: 0px;
  }
}

.mainWrap .innerTextWrap .innerLine ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .mainWrap .innerTextWrap .innerLine ul {
    display: block;
  }
}

.mainWrap .innerTextWrap .innerLine ul li:first-child {
  margin-right: 12px;
}

@media screen and (max-width: 768px) {
  .mainWrap .innerTextWrap .innerLine ul li:first-child {
    margin: 0 auto 5.319vw;
  }
}

.mainWrap .innerTextWrap .innerLine ul li:last-child {
  margin-left: 12px;
}

@media screen and (max-width: 768px) {
  .mainWrap .innerTextWrap .innerLine ul li:last-child {
    margin: 0 auto;
  }
}

.mainWrap .innerTextWrap .innerLine ul li a {
  display: block;
}

@media (max-width: 768px) {
  .mainWrap .innerTextWrap .schoolWrap {
    padding-bottom: 14.627vw;
  }
}

.mainWrap .innerCleanWrap {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto 115px;
}

@media screen and (max-width: 768px) {
  .mainWrap .innerCleanWrap {
    padding: 0 6.648vw;
    margin-bottom: 10.638vw;
  }
}

.bgRing {
  background-image: url(../img/bgRing.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -1vw;
  margin: 0 auto 115px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .bgRing {
    background: none;
  }
}

.bgRing .innerTextWrap {
  max-width: 1000px;
  padding: 0 30px;
}

.bgRing .innerTextWrap #bgRingInner {
  max-width: 760px;
  width: 76%;
  float: right;
}

@media (max-width: 768px) {
  .bgRing .innerTextWrap #bgRingInner {
    width: 100%;
  }
}

.banaWrap {
  margin: 0 auto 115px;
  max-width: 1250px;
}

@media (max-width: 768px) {
  .banaWrap {
    margin: 0;
    max-width: 100%;
  }
}

.banaWrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .banaWrap ul {
    display: block;
    padding: 0 6.667vw;
  }
}

.banaWrap ul li {
  max-width: 400px;
  width: 31%;
  background-size: cover;
}

@media (max-width: 768px) {
  .banaWrap ul li + li {
    margin-top: 5.333vw;
  }
}

@media (max-width: 768px) {
  .banaWrap ul li {
    display: block;
    max-width: 100%;
    width: 100%;
  }
}

.banaWrap ul li:first-child {
  background-image: url(../../common/img/banaConst.png);
}

.banaWrap ul li:nth-child(2) {
  background-image: url(../../common/img/banaCompany.png);
}

.banaWrap ul li:nth-child(3) {
  background-image: url(../../common/img/banaSchool.png);
}

.banaWrap ul li a {
  display: block;
  padding: 72px 9% 60px;
}

@media (max-width: 768px) {
  .banaWrap ul li a {
    padding: 20vw 0 12vw;
  }
}

.banaWrap ul li span {
  display: block;
  color: #000;
}

.banaWrap ul li span.title {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 45px;
  letter-spacing: 5px;
}

@media (max-width: 768px) {
  .banaWrap ul li span.title {
    font-size: 8.533vw;
    line-height: 1;
    font-weight: normal;
    letter-spacing: .2em;
    margin-bottom: 4.8vw;
  }
}

.banaWrap ul li span.btn {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  font-size: 16px;
  padding: 5px 0;
  text-align: center;
  margin: 0 auto;
  max-width: 257px;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .banaWrap ul li span.btn {
    max-width: 100%;
    width: 58.933vw;
    font-size: 3.733vw;
    border: .533vw solid #000000;
    padding: 1.866vw 0;
    font-weight: normal;
  }
}

.banaWrap ul li:last-child {
  width: 100%;
  background-image: url(../../common/img/banaSeminar_pc.png);
  background-size: cover;
  margin-top: 3%;
  max-width: 100%;
}

@media (max-width: 768px) {
  .banaWrap ul li:last-child {
    margin-top: 5.333%;
    background-image: url(../../common/img/banaSeminar_sp.png);
  }
}

.banaWrap ul li:last-child a {
  display: block;
  padding: 30px 9% 45px;
}

@media (max-width: 768px) {
  .banaWrap ul li:last-child a {
    padding: 6.667vw 0 10.667vw;
  }
}

.banaWrap ul li:last-child a span {
  display: block;
  color: #000;
}

.banaWrap ul li:last-child a span.title {
  font-size: 37px;
  line-height: 37px;
  margin-bottom: 10px;
  padding-top: 40px;
}

@media (max-width: 768px) {
  .banaWrap ul li:last-child a span.title {
    margin-bottom: 2.667vw;
    padding: 0;
    font-size: 8.533vw;
    font-weight: normal;
  }
}

.banaWrap ul li:last-child a span.title:before {
  content: "";
  background-image: url(../../common/img/free.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 47px;
  vertical-align: -15px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .banaWrap ul li:last-child a span.title:before {
    background-size: 20.533vw 18.667vw;
    width: 20.533vw;
    height: 18.667vw;
    display: inline-block;
    vertical-align: -3.733px;
    margin-right: 1.333vw;
    padding: 0;
  }
}

.banaWrap ul li:last-child a span.sub {
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto 20px;
  text-align: center;
  letter-spacing: 3px;
}

@media (max-width: 768px) {
  .banaWrap ul li:last-child a span.sub {
    font-size: 4.267vw;
    letter-spacing: .2em;
    font-weight: normal;
    line-height: 1;
    margin: 0 auto 5.333w;
  }
}

.banaWrap ul li:last-child a span.btn {
  font-size: 16px;
  padding: 5px 0%;
  text-align: center;
  margin: 0 auto;
  max-width: 257px;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .banaWrap ul li:last-child a span.btn {
    max-width: 100%;
    width: 58.933vw;
    font-size: 3.733vw;
    border: .533vw solid #000000;
    padding: 1.866vw 0;
    font-weight: normal;
  }
}

@media (max-width: 768px) {
  #banaFullWrap {
    margin-top: 29.787vw;
  }
}

#banaFullWrap li {
  max-width: 1365px;
  margin: 0 auto 20px;
}

@media (max-width: 768px) {
  #banaFullWrap li {
    margin-bottom: 0px;
  }
}

#banaFullWrap li a {
  display: block;
}
/*# sourceMappingURL=style.css.map */