@charset "utf-8";

html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #1a1a1a;
	img{
		width: 100%;
		height: auto;
		display: block;
	}
}
body {
	&.modal {
		position: fixed;
	}
}

p,a,span,div{
	color: #ffffff;
	font-size: 18px;
	font-family: "游ゴシック Medium","游ゴシック体","Yu Gothic Medium",YuGothic,"メイリオ",Meiryo,Lato,"Noto Sans JP","ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	vertical-align: middle;
	line-height: 2em;
	@media screen and (max-width: 768px) {
		font-size:	4.787vw;
	}
}

h1{
	color: #ffffff;
	font-size: 54px;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
	vertical-align: middle;
	margin-bottom: 35px;
	line-height: 1.2em;
	@media screen and (max-width: 768px) {
		font-size:	6.9333vw;
	}
}

h2{
	color: #ffffff;
	font-size: 35px;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
	vertical-align: middle;
	margin-bottom: 27px;
	line-height: 1.2em;
	@media screen and (max-width: 768px) {
		font-size:	6.9333vw;
		margin-bottom: 13.829vw;
	}
}


a, a img {
	transition: 0.8s;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
		&:hover {
		opacity: 0.6;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
	}
}



.pcOnly{
	@media screen and (max-width: 768px) {
		display: none!important;
	}
}

.spOnly{
	@media screen and (min-width: 769px) {
		display: none!important;
	}
}


.story {
	position: relative;
}

.js-inview {
	.mainImg-box {
		opacity: 0;
		-webkit-transform: translate(0, 20px);
		transform: translate(0, 20px);
		-webkit-transition-duration: 1s;
		transition-duration: 1s;
	}
	.mainLead-box {
		opacity: 0;
		-webkit-transform: translate(0, 20px);
		transform: translate(0, 20px);
		-webkit-transition-duration: 1s;
		transition-duration: 1s;
		transition-delay: .7s;
		-webkit-transition-delay: .7s;
	}
	.mainBar {
		opacity: 0;
		position: absolute;
		bottom: 0;
		width: 0;
		transition-delay: 1s;
		-webkit-transition-delay: 1s;
	}
	&.inview {
		.mainImg-box {
			-webkit-transform: translate(0, 0);
			transform: translate(0, 0);
			opacity: 1;
		}
		.mainLead-box {
			-webkit-transform: translate(0, 0);
			transform: translate(0, 0);
			opacity: 1;
		}
		.mainBar {
			-webkit-transform: translate(0, 0);
			transform: translate(0, 0);
			width: 100%;
			opacity: 1;
			-webkit-transition-duration: .7s;
			transition-duration: .7s;
		}
	}
}


.mainImg{
	padding-top: 85px;
	margin-bottom: 130px;
	position: relative;
	@media screen and (max-width: 768px) {
		padding-top: 16.361vw;
		margin-bottom: 13.297vw;
	}
	.text{
		position: absolute;
		top: 29vh;
		width: 58%;
		left: 4vw;
		@media screen and (max-width: 768px) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%)!important;
			-webkit-transform: translateY(-50%) translateX(-50%)!important;
			width: 90.425vw;
		}
	}
	.js-inview {
		opacity: 0;
		transform: translate( 0, 20px );
		transition-duration: .75s;
		transition-timing-function: cubic-bezier( .08, .38, .24,.98 );
		&.inview {
			opacity: 1;
			transform: translate( 0, 0 );
		}
	}
	.mainBar{
		height: 12px;;
		background: rgb(255,0,0);
		background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(210,57,243,1) 17%, rgba(27,61,247,1) 33%, rgba(65,249,249,1) 50%, rgba(61,247,78,1) 67%, rgba(249,255,0,1) 83%, rgba(232,90,2,1) 100%);
	}
}

#topTextWrap{
	// max-width: 1000px;
	#topTextInner{
		max-width: 1135px;
		margin: 0 auto 120px;
		padding: 0 140px 30px 30px;
		@media screen and (max-width: 1200px) {
			padding: 0 7% 30px 30px;
		}
		@media screen and (max-width: 1060px) {
			padding: 0 30px 30px;
		}
		@media screen and (max-width: 768px) {
			padding: 0 30px;
		}
	}
}

.mainWrap{
	margin: 0 auto;
	.innerTextWrap{
		max-width: 1000px;
		padding: 0 30px;
		margin: 0 auto 115px;
		@media screen and (max-width: 768px) {
			padding: 0 6.648vw;
			margin-bottom: 19.148vw;
		}
		#innerTopWrap{
			img{
				width: 44%;
				float: right;
				margin-left: 40px;
				margin-bottom: 35px;
				@media screen and (max-width: 768px) {
					width: 100%;
					float: initial;
					margin: 0 0 11.968vw;
				}
			}
			p{
				display: inline;
			}
		}
		img.innerSingle{
			padding: 40px 0px;
			@media (max-width: 768px) {
				padding: 10.638vw 0;
			}
		}
		.innerLine{
			margin-bottom: 27px;
			@media (max-width: 768px) {
				margin-bottom: 0px;
			}
			ul{
				display: flex;
				@media screen and (max-width: 768px) {
					display: block;
				}
				li{
					&:first-child{
						margin-right: 12px;
						@media screen and (max-width: 768px) {
							margin: 0 auto 5.319vw;
						}
					}
					&:last-child{
						margin-left: 12px;
						@media screen and (max-width: 768px) {
							margin: 0 auto;
						}
					}
					a{
						display: block;
					}
				}
			}
		}
		.schoolWrap{
			@media (max-width: 768px) {
				padding-bottom: 14.627vw;
			}
		}
	}
	.innerCleanWrap{
		max-width: 1000px;
		padding: 0 30px;
		margin: 0 auto 115px;
		@media screen and (max-width: 768px) {
			padding: 0 6.648vw;
			margin-bottom: 10.638vw;
		}
	}
}

.bgRing{
	background-image: url(../img/bgRing.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: -1vw;
	margin: 0 auto 115px;
	overflow: hidden;
	@media (max-width: 768px) {
		background: none;
	}
	.innerTextWrap{
		max-width: 1000px;
		padding: 0 30px;
			#bgRingInner{
				max-width: 760px;
				width: 76%;
				float: right;
				@media (max-width: 768px) {
					width: 100%;
				}
			}

	}
}

// バナーエリア
.banaWrap{
	margin: 0 auto 115px;
	max-width: 1250px;
	@media (max-width: 768px) {
		margin: 0;
		max-width: 100%;
	}

	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@media (max-width: 768px) {
			display: block;
			padding: 0 6.667vw;
		}
		li{
			max-width: 400px;
			width: 31%;
			background-size: cover;
			+ li {
				@media (max-width: 768px) {
					margin-top: 5.333vw;
				}
			}
			@media (max-width: 768px) {
				display: block;
				max-width: 100%;
				width: 100%;
			}
			&:first-child{
				background-image: url(../../common/img/banaConst.png);
			}
			&:nth-child(2){
				background-image: url(../../common/img/banaCompany.png);
			}
			&:nth-child(3){
				background-image: url(../../common/img/banaSchool.png);
			}
			a{
				display: block;
				padding: 72px 9% 60px;
				@media (max-width: 768px) {
					padding: 20vw 0 12vw;
				}
			}
			span{
				display: block;
				color: #000;
				&.title{
					font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
					font-size: 32px;
					line-height: 32px;
					text-align: center;
					font-weight: bold;
					margin-bottom: 45px;
					letter-spacing: 5px;
					@media (max-width: 768px) {
						font-size: 8.533vw;
						line-height: 1;
						font-weight: normal;
						letter-spacing: .2em;
						margin-bottom: 4.8vw;
					}
				}
				&.btn{
					font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
					font-size: 16px;
					padding: 5px 0;
					text-align: center;
					margin: 0 auto;
					max-width: 257px;
					font-weight: bold;
					border: 2px solid #000000;
					border-radius: 25px;
					@media (max-width: 768px) {
						max-width: 100%;
						width: 58.933vw;
						font-size: 3.733vw;
						border: .533vw solid #000000;
						padding: 1.866vw 0;
						font-weight: normal;
					}
				}
			}

			&:last-child{
				width: 100%;
				background-image: url(../../common/img/banaSeminar_pc.png);
				background-size: cover;
				margin-top: 3%;
				max-width: 100%;
				@media (max-width: 768px) {
					margin-top: 5.333%;
					background-image: url(../../common/img/banaSeminar_sp.png);
				}
				a{
					display: block;
					padding: 30px 9% 45px;
					@media (max-width: 768px) {
						padding: 6.667vw 0 10.667vw;
					}
					span{
						display: block;
						color: #000;
						&.title{
							font-size: 37px;
							line-height: 37px;
							margin-bottom: 10px;
							padding-top: 40px;
							@media (max-width: 768px) {
								margin-bottom: 2.667vw;
								padding: 0;
								font-size: 8.533vw;
								font-weight: normal;
							}
							&:before{
								content: "";
								background-image: url(../../common/img/free.png);
								background-size: 100%;
								background-repeat: no-repeat;
								padding: 47px;
								vertical-align: -15px;
								margin-right: 5px;
								@media (max-width: 768px) {
									background-size: 20.533vw 18.667vw;
									width: 20.533vw;
									height: 18.667vw;
									display: inline-block;
									vertical-align: -3.733px;
									margin-right: 1.333vw;
									padding: 0;
								}
							}
						}
						&.sub{
							font-size: 16px;
							font-weight: bold;
							margin: 0 auto 20px;
							text-align: center;
							letter-spacing: 3px;
							@media (max-width: 768px) {
								font-size: 4.267vw;
								letter-spacing: .2em;
								font-weight: normal;
								line-height: 1;
								margin: 0 auto 5.333w;
							}
						}
						&.btn{
							font-size: 16px;
							padding: 5px 0%;
							text-align: center;
							margin: 0 auto;
							max-width: 257px;
							font-weight: bold;
							border: 2px solid #000000;
							border-radius: 25px;
							@media (max-width: 768px) {
								max-width: 100%;
								width: 58.933vw;
								font-size: 3.733vw;
								border: .533vw solid #000000;
								padding: 1.866vw 0;
								font-weight: normal;
							}
						}
					}
				}
			}
		}
	}
}

#banaFullWrap{
	@media (max-width: 768px) {
		margin-top: 29.787vw;
	}
	li{
		max-width: 1365px;
		margin: 0 auto 20px;
		@media (max-width: 768px) {
			margin-bottom: 0px;
		}
		a{
			display: block;
		}
	}
}
