@charset "UTF-8";
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #1a1a1a;
}

html img, body img {
  width: 100%;
  height: auto;
  display: block;
}

body.modal {
  position: fixed;
}

p, a, span {
  color: #ffffff;
  font-size: 18px;
  font-family: "游ゴシック Medium","游ゴシック体","Yu Gothic Medium",YuGothic,"メイリオ",Meiryo,Lato,"Noto Sans JP","ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  vertical-align: middle;
  line-height: 2em;
}

@media (max-width: 768px) {
  p, a, span {
    font-size: 4.8vw;
  }
}

h1 {
  color: #ffffff;
  font-size: 54px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  vertical-align: middle;
}

@media (max-width: 768px) {
  h1 {
    margin-top: 17.333vw;
    line-height: 1.5;
    letter-spacing: 0.1em;
    font-size: 8.533vw;
  }
}

h1 span {
  color: #ffffff;
  font-size: 54px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
}

@media (max-width: 768px) {
  h1 span {
    line-height: 1.5;
    letter-spacing: -0.8em;
    font-size: 8.533vw;
  }
}

h2 {
  color: #ffffff;
  font-size: 35px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  vertical-align: middle;
  margin-bottom: 27px;
}

a, a img {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

a:hover, a img:hover {
  opacity: 0.6;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@media screen and (max-width: 768px) {
  .pcOnly {
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  .spOnly {
    display: none !important;
  }
}

.story-list .innerTextWrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .story-list .innerTextWrap {
    padding: 0 6.667vw;
  }
}

.story-list .innerTextWrap .innerLine {
  margin-bottom: 27px;
}

.story-list .innerTextWrap .innerLine ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .story-list .innerTextWrap .innerLine ul {
    display: block;
  }
}

.story-list .innerTextWrap .innerLine ul li:first-child {
  margin-right: 12px;
}

@media screen and (max-width: 768px) {
  .story-list .innerTextWrap .innerLine ul li:first-child {
    margin-right: 0;
    margin-bottom: 5.8667vw;
  }
}

.story-list .innerTextWrap .innerLine ul li:last-child {
  margin-left: 12px;
}

@media screen and (max-width: 768px) {
  .story-list .innerTextWrap .innerLine ul li:last-child {
    margin-left: 0;
  }
}

.story-list .innerTextWrap .innerLine ul li a {
  display: block;
}

.story-list .innerTextWrap .innerLine .innerLine-mainImg {
  background-color: #000000;
  margin-bottom: 22px;
}

@media screen and (max-width: 769px) {
  .story-list .innerTextWrap .innerLine .innerLine-mainImg {
    margin-bottom: 5.8667vw;
  }
}

.story-list .innerTextWrap .innerLine .epList {
  background-color: #000000;
}

.js-inview .mainImg-box {
  opacity: 0;
  -webkit-transform: translate(0, 20px);
  transform: translate(0, 20px);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.js-inview .mainLead-box {
  opacity: 0;
  -webkit-transform: translate(0, 20px);
  transform: translate(0, 20px);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  transition-delay: .7s;
  -webkit-transition-delay: .7s;
}

.js-inview .mainBar {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 0;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
}

.js-inview.inview .mainImg-box {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.js-inview.inview .mainLead-box {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.js-inview.inview .mainBar {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  width: 100%;
  opacity: 1;
  -webkit-transition-duration: .7s;
  transition-duration: .7s;
}

.laboratory {
  position: relative;
  overflow-x: hidden;
  background: #1a1a1a url(../img/footer-ring.png) no-repeat;
  background-size: 420px;
  background-position: right calc(100% - 251px);
}

@media (max-width: 768px) {
  .laboratory {
    background: none;
  }
}

.laboratory .mainImg {
  position: relative;
}

@media (max-width: 768px) {
  .laboratory .mainImg {
    padding-top: 16.361vw;
  }
}

.laboratory .mainImg .mainLead-box {
  position: absolute;
  top: 31%;
  left: 7%;
  width: 37.292vw;
}

@media (max-width: 768px) {
  .laboratory .mainImg .mainLead-box {
    top: 57vw;
    left: 8.533vw;
    width: 83.2vw;
  }
}

.laboratory .mainImg .mainBar {
  height: 12px;
  background: red;
  background: -webkit-gradient(linear, left top, right top, from(red), color-stop(17%, #d239f3), color-stop(33%, #1b3df7), color-stop(50%, #41f9f9), color-stop(67%, #3df74e), color-stop(83%, #f9ff00), to(#e85a02));
  background: linear-gradient(90deg, red 0%, #d239f3 17%, #1b3df7 33%, #41f9f9 50%, #3df74e 67%, #f9ff00 83%, #e85a02 100%);
}

.intro {
  padding: 130px 20px 0;
  background: #1a1a1a url(../img/intro-ring.png) no-repeat;
  background-size: 448px;
  background-position: right -370px;
}

@media (max-width: 768px) {
  .intro {
    padding: 6.667vw 6.667vw 0;
    letter-spacing: 0.168em;
    background: none;
  }
}

@media (max-width: 768px) {
  .intro .introLead {
    font-size: 4.8vw;
  }
}

.intro .introTextIntro {
  font-size: 16px;
}

.intro .introheadingWrap {
  max-width: 1250px;
  margin: 0 auto;
}

.intro .introWrapInner {
  max-width: 1000px;
  margin: 0 auto 120px;
}

@media (max-width: 768px) {
  .intro .introWrapInner {
    margin: 0 auto 22.667vw;
  }
}

.intro .introTextWrap {
  padding-top: 95px;
}

@media (max-width: 768px) {
  .intro .introTextWrap {
    padding-top: 17.333vw;
  }
}

.intro .introTextWrap .introTextInner {
  margin: 0 auto 38px;
}

@media (max-width: 768px) {
  .intro .introTextWrap .introTextInner {
    margin: 0 auto 21.333vw;
  }
}

.intro .introTextWrap .introTextInner-ttl {
  font-size: 36px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  line-height: 1;
  margin-bottom: 33px;
}

@media (max-width: 768px) {
  .intro .introTextWrap .introTextInner-ttl {
    margin-bottom: 5.867vw;
    font-size: 6.9333vw;
    line-height: 10.667vw;
  }
}

.intro .intro2colWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .intro .intro2colWrap {
    display: block;
  }
}

.intro .intro2colWrap .intro2colbox {
  width: 488px;
}

@media (max-width: 768px) {
  .intro .intro2colWrap .intro2colbox {
    width: 100%;
  }
}

.intro .intro2colWrap .intro2colbox + .intro2colbox {
  margin-left: 25px;
}

@media (max-width: 768px) {
  .intro .intro2colWrap .intro2colbox + .intro2colbox {
    margin-top: 10.667vw;
    margin-left: 0;
  }
}

.intro .intro2colWrap .intro2coldescribe01 {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .intro .intro2colWrap .intro2coldescribe01 {
    font-size: 4.3vw;
    letter-spacing: .2em;
    margin: 1.33vw 2.533vw 0;
  }
}

.intro .intro2colWrap .intro2coldescribe02 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #F00;
  margin-top: 10px;
  line-height: 1;
}

@media (max-width: 768px) {
  .intro .intro2colWrap .intro2coldescribe02 {
    font-size: 4.973vw;
    letter-spacing: .2em;
    margin-top: 1.333vw;
  }
}

.intro .introSolutionWrap {
  margin-top: 115px;
}

@media (max-width: 768px) {
  .intro .introSolutionWrap {
    margin-top: 20.8vw;
  }
}

.intro .introSolution-ttl {
  font-size: 36px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  line-height: 1;
  margin-bottom: 33px;
}

@media (max-width: 768px) {
  .intro .introSolution-ttl {
    font-size: 6.933vw;
  }
}

.intro .introSolutionBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 959px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .intro .introSolutionBox {
    max-width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.intro .introSolution5colBox {
  max-width: 159px;
}

@media (max-width: 768px) {
  .intro .introSolution5colBox {
    max-width: 100%;
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .intro .introSolution5colBox:nth-child(odd) {
    padding-right: 3.334vw;
  }
  .intro .introSolution5colBox:nth-child(even) {
    padding-left: 3.334vw;
  }
  .intro .introSolution5colBox:nth-child(2n+3) {
    padding-top: 9.333vw;
  }
  .intro .introSolution5colBox:nth-child(2n+4) {
    padding-top: 9.333vw;
  }
}

.intro .introSolution5colBox p {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin-top: 27px;
}

@media (max-width: 768px) {
  .intro .introSolution5colBox p {
    font-size: 3.733vw;
    letter-spacing: .0172em;
  }
}

.intro .introSolution5colBox + .introSolution5colBox {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .intro .introSolution5colBox + .introSolution5colBox {
    margin-left: 0;
  }
}

.virusCounterplan {
  background: #000000;
  padding-bottom: 93px;
}

@media (max-width: 768px) {
  .virusCounterplan {
    padding-bottom: 27.2vw;
  }
}

.virusCounterplan-mv {
  position: relative;
}

.virusCounterplan-mv .virusCounterplan-mvLead01 {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  position: absolute;
  top: 17%;
  left: 5.8%;
  font-size: 1.673vw;
  letter-spacing: .2em;
}

@media (max-width: 768px) {
  .virusCounterplan-mv .virusCounterplan-mvLead01 {
    position: static;
    text-align: center;
    font-size: 5.333vw;
  }
}

.virusCounterplan-mv .virusCounterplan-mvLead02 {
  position: absolute;
  top: 35.5%;
  left: 5.8%;
  font-size: 1.075vw;
  letter-spacing: .2em;
}

@media (max-width: 768px) {
  .virusCounterplan-mv .virusCounterplan-mvLead02 {
    position: static;
    font-size: 4.8vw;
    padding: 0 6.667vw;
  }
}

.virusCounterplan-mv .virusCounterplan-mvLead03-wrap {
  position: absolute;
  top: 26%;
  left: 5.8%;
  width: 36.918vw;
}

@media (max-width: 768px) {
  .virusCounterplan-mv .virusCounterplan-mvLead03-wrap {
    position: static;
    margin: 9.333vw auto;
    width: 86.667vw;
  }
}

.virusCounterplan-wrap {
  margin: -18.4% auto 0;
  max-width: 1000px;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap {
    margin: 8.533vw auto;
    padding: 0 6.667vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-introtTtl {
  font-size: 36px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  line-height: 1.5;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-introtTtl {
    font-size: 6.933vw;
    line-height: 10.667vw;
    margin-bottom: 13.867vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-box {
    display: block;
  }
}

.virusCounterplan-wrap .virusCounterplan-box .virusCounterplan-intro2colBox:nth-child(1) {
  max-width: 631px;
  margin-right: 50px;
  z-index: 1;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-box .virusCounterplan-intro2colBox:nth-child(1) {
    max-width: 100%;
    margin-right: 0;
  }
}

.virusCounterplan-wrap .virusCounterplan-box .virusCounterplan-intro2colBox:nth-child(2) {
  max-width: 100%;
  z-index: 1;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-box .virusCounterplan-intro2colBox:nth-child(2) {
    margin: 13.333vw auto 0;
    width: 79.2vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-box .virusCounterplan-intro2coldescribe {
  margin-bottom: 28px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-box .virusCounterplan-intro2coldescribe {
    margin-bottom: 8vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-box .virusCounterplan-intro2colNote {
  font-size: 12px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-box .virusCounterplan-intro2colNote {
    font-size: 3.2vw;
    letter-spacing: .1em;
  }
}

.virusCounterplan-wrap .virusCounterplan-effectDesc01 {
  margin-top: 40px;
}

.virusCounterplan-wrap .virusCounterplan-effectDesc01 .virusCounterplan-effectDesc01-ttl {
  text-align: center;
  line-height: 1;
}

.virusCounterplan-wrap .virusCounterplan-effectDesc01 .virusCounterplan-effectDesc01-ttl span {
  font-size: 30px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
}

.virusCounterplan-wrap .virusCounterplan-effectDesc01 .virusCounterplan-effectDesc01-ttl span::before {
  content: "";
  display: inline-block;
  width: 43.5px;
  height: 1px;
  background: #FFF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0 8px 8px 0;
}

.virusCounterplan-wrap .virusCounterplan-effectDesc01 .virusCounterplan-effectDesc01-ttl span::after {
  content: "";
  display: inline-block;
  width: 43.5px;
  height: 1px;
  background: #FFF;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0 8px 3px 0;
}

.virusCounterplan-wrap .virusCounterplan-effectDesc01 .virusCounterplan-effectDesc01-imgWrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 37px;
}

.virusCounterplan-wrap .virusCounterplan-effectDesc01 .virusCounterplan-effectDesc01-imgWrap::before {
  content: "";
  position: absolute;
  top: calc(50% - 13.5px);
  left: calc(50% - 9.5px);
  display: block;
  width: 19px;
  height: 27px;
  background-image: url(../img/v-counterplan-triangle.png);
  background-size: 19px 27px;
}

.virusCounterplan-wrap .virusCounterplan-effectDesc01 .virusCounterplan-effectDesc01-imgBox {
  width: 476px;
}

.virusCounterplan-wrap .virusCounterplan-effectDesc01 .virusCounterplan-effectDesc01-imgBox + .virusCounterplan-effectDesc01-imgBox {
  margin-left: 48px;
}

.virusCounterplan-wrap .virusCounterplan-effectDesc01 .virusCounterplan-effectDesc01-txtWrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.virusCounterplan-wrap .virusCounterplan-effectDesc01 .virusCounterplan-effectDesc01-txtBox {
  width: 476px;
}

.virusCounterplan-wrap .virusCounterplan-effectDesc01 .virusCounterplan-effectDesc01-txtBox + .virusCounterplan-effectDesc01-txtBox {
  margin-left: 48px;
}

.virusCounterplan-wrap .virusCounterplan-effectDesc01 .virusCounterplan-effectDesc01-txtBox p {
  text-align: center;
  color: #F00;
  font-size: 16px;
  margin-top: 10px;
}

.virusCounterplan-wrap .virusCounterplan-effectDesc02 {
  margin-top: 120px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effectDesc02 {
    margin-top: 21.333vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-effectDesc02-ttl {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  font-size: 30px;
  text-align: center;
  line-height: 1;
  margin-bottom: 55px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effectDesc02-ttl {
    font-size: 6.933vw;
    line-height: 10.667vw;
    text-align: left;
  }
}

.virusCounterplan-wrap .virusCounterplan-effectDesc02-Wrap {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effectDesc02-Wrap {
    display: block;
    max-width: 100%;
  }
}

.virusCounterplan-wrap .virusCounterplan-effectDesc02-Wrap .virusCounterplan-effectDesc02-box:nth-child(1) {
  margin-right: 50px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effectDesc02-Wrap .virusCounterplan-effectDesc02-box:nth-child(1) {
    margin-right: 0;
    margin-bottom: 11.2vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-effectDesc02-txt {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 1;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effectDesc02-txt {
    text-align: center;
    font-size: 5.333vw;
    margin-bottom: 7.467vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-effectDesc02-imgWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effectDesc02-imgWrap {
    display: block;
  }
}

.virusCounterplan-wrap .virusCounterplan-effectDesc02-imgWrap .virusCounterplan-effectDesc02-imgBox:nth-child(1) {
  max-width: 229px;
  margin-right: 17px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effectDesc02-imgWrap .virusCounterplan-effectDesc02-imgBox:nth-child(1) {
    max-width: 100%;
    width: 61.066vw;
    margin-right: 0;
    margin: 0 auto;
  }
}

.virusCounterplan-wrap .virusCounterplan-effectDesc02-imgWrap .virusCounterplan-effectDesc02-imgBox:nth-child(2) {
  max-width: 231px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effectDesc02-imgWrap .virusCounterplan-effectDesc02-imgBox:nth-child(2) {
    max-width: 100%;
    width: 61.6vw;
    margin: 5.333vw auto 0;
  }
}

.virusCounterplan-wrap .virusCounterplan-effect-other .virusCounterplan-effect-other-desc01 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-top: 65px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effect-other .virusCounterplan-effect-other-desc01 {
    margin-top: 16vw;
    margin-bottom: 2.4vw;
    font-size: 5.333vw;
    line-height: 2em;
  }
}

.virusCounterplan-wrap .virusCounterplan-effect-other .virusCounterplan-effect-other-desc02 {
  font-size: 18px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effect-other .virusCounterplan-effect-other-desc02 {
    font-size: 4.8vw;
    line-height: 1.5;
    letter-spacing: .093em;
  }
}

.virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-ttl {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  text-align: center;
  font-size: 30px;
  line-height: 1;
  margin-top: 110px;
  margin-bottom: 14px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-ttl {
    margin-top: 15.733vw;
    font-size: 6.933vw;
    line-height: 10.667vw;
    text-align: left;
  }
}

.virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap {
  max-width: 953px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap {
    max-width: 100%;
  }
}

.virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list {
  width: 25%;
  height: 253px;
  margin-bottom: 54px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list {
    width: 50%;
    height: 43.2vw;
    margin-bottom: 8vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list img {
  margin: 0 auto;
}

.virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(1) img {
  width: 167px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(1) img {
    width: 29.333vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(2) img {
  width: 98px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(2) img {
    width: 17.6vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(3) img {
  width: 111px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(3) img {
    width: 19.466vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(4) img {
  width: 133px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(4) img {
    width: 23.2vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(5) img {
  width: 190px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(5) img {
    width: 33.333vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(6) img {
  width: 158px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(6) img {
    width: 27.467vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(7) img {
  width: 85px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(7) img {
    width: 14.677vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(8) img {
  width: 138px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(8) img {
    width: 24vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(9) img {
  width: 105px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(9) img {
    width: 18.4vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(10) img {
  width: 188px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(10) img {
    width: 32.8vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(11) img {
  width: 134px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(11) img {
    width: 23.2vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(12) img {
  width: 156px;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list:nth-child(12) img {
    width: 27.2vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list-imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list-imgBox {
    height: 38.133vw;
  }
}

.virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list-name {
  font-size: 18px;
  text-align: center;
  line-height: 1;
}

@media (max-width: 768px) {
  .virusCounterplan-wrap .virusCounterplan-effect-seen .virusCounterplan-effect-seen-listWrap .virusCounterplan-effect-seen-list-name {
    font-size: 3.131vw;
    margin-top: 3.2vw;
  }
}

.counterplan-example {
  padding-top: 120px;
  background: #1a1a1a url(../img/c-example-ring.png) no-repeat;
  background-size: 319px;
  background-position: left -200px;
}

@media (max-width: 768px) {
  .counterplan-example {
    background: none;
    padding-top: 0;
  }
}

.counterplan-example-main-wrap {
  max-width: 1244px;
  margin: 0 auto;
}

.counterplan-example-contents {
  max-width: 1000px;
  margin: 55px auto 125px;
}

@media (max-width: 768px) {
  .counterplan-example-contents {
    max-width: 100%;
    padding-top: 6.667vw;
    margin: 0;
  }
}

.counterplan-example-contents .counterplan-example-detail {
  margin: 55px auto 120px;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 2em;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .counterplan-example-contents .counterplan-example-detail {
    background: none;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 4.8vw;
    padding: 0 6.667vw;
  }
}

.counterplan-example-contents .counterplan-example-detail .counterplan-example-detail-desc {
  width: 451px;
  float: right;
  margin: 0 0 30px 30px;
}

@media (max-width: 768px) {
  .counterplan-example-contents .counterplan-example-detail .counterplan-example-detail-desc {
    width: 100%;
    float: none;
    margin: 0 0 3.2vw 0;
  }
}

.counterplan-example-contents .counterplan-example-total {
  text-align: center;
}

.counterplan-example-contents .counterplan-example-total .counterplan-example-desc {
  position: relative;
  display: inline-block;
  font-size: 54px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  letter-spacing: .2em;
  line-height: 1;
}

@media (max-width: 768px) {
  .counterplan-example-contents .counterplan-example-total .counterplan-example-desc {
    font-size: 9.072vw;
    margin-top: 11.733vw;
    margin-bottom: 18.933vw;
  }
}

.counterplan-example-contents .counterplan-example-total .counterplan-example-desc::before {
  position: absolute;
  content: "";
  background: url(../../common/img/c-example-border.png) no-repeat;
  display: block;
  background-size: 100%;
  width: 503px;
  height: 5px;
  bottom: 24px;
}

@media (max-width: 768px) {
  .counterplan-example-contents .counterplan-example-total .counterplan-example-desc::before {
    width: 100%;
    bottom: 2.4vw;
  }
}

.counterplan-example-contents .counterplan-example-total .counterplan-example-total-num {
  font-size: 81px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  letter-spacing: 0;
  vertical-align: -8px;
  margin: 0 11px 0 -3px;
}

@media (max-width: 768px) {
  .counterplan-example-contents .counterplan-example-total .counterplan-example-total-num {
    font-size: 13.613vw;
    vertical-align: 0;
  }
}

.banaWrap {
  margin: 0 auto 115px;
  max-width: 1250px;
}

@media (max-width: 768px) {
  .banaWrap {
    margin: 0;
    max-width: 100%;
  }
}

.banaWrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .banaWrap ul {
    display: block;
    padding: 0 6.667vw;
  }
}

.banaWrap ul li {
  max-width: 400px;
  width: 31%;
  background-size: cover;
}

@media (max-width: 768px) {
  .banaWrap ul li + li {
    margin-top: 5.333vw;
  }
}

@media (max-width: 768px) {
  .banaWrap ul li {
    display: block;
    max-width: 100%;
    width: 100%;
  }
}

.banaWrap ul li:first-child {
  background-image: url(../../common/img/banaConst.png);
}

.banaWrap ul li:nth-child(2) {
  background-image: url(../../common/img/banaCompany.png);
}

.banaWrap ul li:nth-child(3) {
  background-image: url(../../common/img/banaSchool.png);
}

.banaWrap ul li a {
  display: block;
  padding: 72px 9% 60px;
}

@media (max-width: 768px) {
  .banaWrap ul li a {
    padding: 20vw 0 12vw;
  }
}

.banaWrap ul li span {
  display: block;
  color: #000;
}

.banaWrap ul li span.title {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 45px;
  letter-spacing: 5px;
}

@media (max-width: 768px) {
  .banaWrap ul li span.title {
    font-size: 8.533vw;
    line-height: 1;
    font-weight: normal;
    letter-spacing: .2em;
    margin-bottom: 4.8vw;
  }
}

.banaWrap ul li span.btn {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  font-size: 16px;
  padding: 5px 0;
  text-align: center;
  margin: 0 auto;
  max-width: 257px;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .banaWrap ul li span.btn {
    max-width: 100%;
    width: 58.933vw;
    font-size: 3.733vw;
    border: .533vw solid #000000;
    padding: 1.866vw 0;
    font-weight: normal;
  }
}

.banaWrap ul li:last-child {
  width: 100%;
  background-image: url(../../common/img/banaSeminar_pc.png);
  background-size: cover;
  margin-top: 3%;
  max-width: 100%;
}

@media (max-width: 768px) {
  .banaWrap ul li:last-child {
    margin-top: 5.333%;
    background-image: url(../../common/img/banaSeminar_sp.png);
  }
}

.banaWrap ul li:last-child a {
  display: block;
  padding: 30px 9% 45px;
}

@media (max-width: 768px) {
  .banaWrap ul li:last-child a {
    padding: 6.667vw 0 10.667vw;
  }
}

.banaWrap ul li:last-child a span {
  display: block;
  color: #000;
}

.banaWrap ul li:last-child a span.title {
  font-size: 37px;
  line-height: 37px;
  margin-bottom: 10px;
  padding-top: 40px;
}

@media (max-width: 768px) {
  .banaWrap ul li:last-child a span.title {
    margin-bottom: 2.667vw;
    padding: 0;
    font-size: 8.533vw;
    font-weight: normal;
  }
}

.banaWrap ul li:last-child a span.title:before {
  content: "";
  background-image: url(../../common/img/free.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 47px;
  vertical-align: -15px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .banaWrap ul li:last-child a span.title:before {
    background-size: 20.533vw 18.667vw;
    width: 20.533vw;
    height: 18.667vw;
    display: inline-block;
    vertical-align: -3.733px;
    margin-right: 1.333vw;
    padding: 0;
  }
}

.banaWrap ul li:last-child a span.sub {
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto 20px;
  text-align: center;
  letter-spacing: 3px;
}

@media (max-width: 768px) {
  .banaWrap ul li:last-child a span.sub {
    font-size: 4.267vw;
    letter-spacing: .2em;
    font-weight: normal;
    line-height: 1;
    margin: 0 auto 5.333w;
  }
}

.banaWrap ul li:last-child a span.btn {
  font-size: 16px;
  padding: 5px 0%;
  text-align: center;
  margin: 0 auto;
  max-width: 257px;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .banaWrap ul li:last-child a span.btn {
    max-width: 100%;
    width: 58.933vw;
    font-size: 3.733vw;
    border: .533vw solid #000000;
    padding: 1.866vw 0;
    font-weight: normal;
  }
}

.banaFullWrap .banaFullList {
  background-color: #000000;
  max-width: 1365px;
  margin: 0 auto;
}

.banaFullWrap .banaFullList a {
  display: block;
}

.story-list {
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  .story-list {
    margin-bottom: 21.333vw;
  }
}

.story-list h2 {
  font-size: 22px;
}

@media (max-width: 768px) {
  .story-list h2 {
    font-size: 7.467vw;
  }
}
/*# sourceMappingURL=style.css.map */