@charset "utf-8";

html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #1a1a1a;
	img{
		width: 100%;
		height: auto;
		display: block;
	}
}
body {
	&.modal {
		position: fixed;
	}
}


p,a,span{
	color: #ffffff;
	font-size: 18px;
	font-family: "游ゴシック Medium","游ゴシック体","Yu Gothic Medium",YuGothic,"メイリオ",Meiryo,Lato,"Noto Sans JP","ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	vertical-align: middle;
	line-height: 2em;
	@media screen and (max-width: 768px) {
		font-size:	4.787vw;
	}
}

h1{
	color: #ffffff;
	font-size: 54px;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
	vertical-align: middle;
	margin-bottom: 35px;
	@media screen and (max-width: 768px) {
		font-size:	6.9333vw;
	}
}

h2{
	color: #ffffff;
	font-size: 35px;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
	vertical-align: middle;
	margin-bottom: 27px;
	@media screen and (max-width: 768px) {
		font-size:	6.9333vw;
		margin-bottom: 11.436vw;
	}
}


a, a img {
	transition: 0.8s;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
		&:hover {
			@media screen and (min-width: 769px) {
				opacity: 0.6;
				backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
			}
	}
}

.pcOnly{
	@media screen and (max-width: 768px) {
		display: none!important;
	}
}

.spOnly{
	@media screen and (min-width: 769px) {
		display: none!important;
	}
}


.project {
	position: relative;
}

.js-inview {
	.mainImg-box {
		opacity: 0;
		-webkit-transform: translate(0, 20px);
		transform: translate(0, 20px);
		-webkit-transition-duration: 1s;
		transition-duration: 1s;
		background-image: url(../img/main.jpg);
		@media screen and (max-width: 768px) {
			background-image: url(../img/mainSp.jpg);
		}
	}
	.mainLead-box {
		opacity: 0;
		-webkit-transform: translate(0, 20px);
		transform: translate(0, 20px);
		-webkit-transition-duration: 1s;
		transition-duration: 1s;
		transition-delay: .7s;
		-webkit-transition-delay: .7s;
	}
	.mainBar {
		opacity: 0;
		position: absolute;
		bottom: 0;
		width: 0;
		transition-delay: 1s;
		-webkit-transition-delay: 1s;
	}
	&.inview {
		.mainImg-box {
			-webkit-transform: translate(0, 0);
			transform: translate(0, 0);
			opacity: 1;
		}
		.mainLead-box {
			-webkit-transform: translate(0, 0);
			transform: translate(0, 0);
			opacity: 1;
		}
		.mainBar {
			-webkit-transform: translate(0, 0);
			transform: translate(0, 0);
			width: 100%;
			opacity: 1;
			-webkit-transition-duration: .7s;
			transition-duration: .7s;
		}
	}
}


.mainImg{
	padding-top: 85px;
	margin-bottom: 130px;
	text-align: center;
	position: relative;
	background-color: #000000;
	@media screen and (max-width: 768px) {
		padding-top: 16.361vw;
		margin-bottom: 13.297vw;
	}
	.mainLead-box{
		padding: 35px 0 40px;
		max-width: 835px;
		width: 57%;
		margin: 0 auto;
		@media screen and (max-width: 768px) {
			width: 85.106vw;
			padding: 3.723vw 0 18.617vw;
		}
	}
	.js-inview {
		opacity: 0;
		transform: translate( 0, 20px );
		transition-duration: .75s;
		transition-timing-function: cubic-bezier( .08, .38, .24,.98 );
		&.inview {
			opacity: 1;
			transform: translate( 0, 0 );
		}
	}
	.mainBar{
		height: 12px;;
		background: rgb(255,0,0);
		background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(210,57,243,1) 17%, rgba(27,61,247,1) 33%, rgba(65,249,249,1) 50%, rgba(61,247,78,1) 67%, rgba(249,255,0,1) 83%, rgba(232,90,2,1) 100%);
	}
}




#topTextWrap{
	max-width: 1250px;
	margin: 0 auto 120px;
	h2{
		font-size: 24px;
		@media screen and (max-width: 768px) {
			font-size: 6.4vw;
		}
	}
	h1{
		@media screen and (max-width: 768px) {
			font-size: 8.51vw;
		}
	}
	p{
		max-width: 820px;
	}
}

.topColor{
	background-image: url(../img/topColor.png);
	background-repeat: no-repeat;
	background-position: right;
	@media screen and (max-width: 768px) {
		background-image: none;
	}
	#projectAnchor{
		padding-top: 150px;
		@media screen and (max-width: 768px) {
			padding-top: 15.957vw;
		}
	}
}

.mainWrap{
	margin: 0 auto;
	// padding-right: 2vw;
	@media screen and (max-width: 768px) {
		padding: 0 6.648vw;
	}
	.innerMenu{
		max-width: 1250px;
		margin: 0 auto;
		ul{
			display: flex;
			justify-content: space-between;
			@media screen and (max-width: 768px) {
				display: block;
			}
			li{
				width: 30%;
				@media screen and (max-width: 768px) {
					width: auto;
					margin-bottom: 4.787vw;
					position: relative;
				}
				&:after{
					display: none;
					@media screen and (max-width: 768px) {
						content: "";
						background-image: url(../img/arrow.png);
						background-repeat: no-repeat;
						padding: 8px;
						right: 7.361vw;
						top: 5.053vw;
						position: absolute;
						background-position: center;
						display: block;
					}
				}
				a{
					padding: 15px 0;
					font-size: 18px;
					text-align: center;
					margin: 0 auto;
					width: 100%;
					display: block;
					font-weight: bold;
					border: 2px solid #ffffff;
					border-radius: 35px;
					@media screen and (max-width: 768px) {
						font-size: 3.51vw;
					}
					&:after{
						content: "";
						background-image: url(../img/arrow.png);
						background-repeat: no-repeat;
						padding: 8px;
						margin-left: 15px;
						background-position: center;
						@media screen and (max-width: 768px) {
							display: none;
						}
					}
				}
				&:last-child{
					@media screen and (max-width: 768px) {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.innerTextWrap{
		max-width: 1000px;
		padding: 0 30px;
		margin: 0 auto 0px;
		@media screen and (max-width: 768px) {
			padding: 0;
		}
		#innerTopWrap{
			img{
				width: 44%;
				float: right;
				margin-left: 20px;
				margin-bottom: 15px;
			}
			p{
				display: inline;
			}
		}
		img.innerSingle{
			padding: 40px 0px;
		}
		.innerLine{
			margin-bottom: 80px;
			@media screen and (max-width: 768px) {
				margin-bottom: 0;
			}
			a{
				display: block;
			}
			ul{
				margin-top: 25px;;
				display: flex;
				@media screen and (max-width: 768px) {
					display: block;
					margin: 5.319vw 0 0;
				}
				li{
					&:first-child{
						margin-right: 12px;
						@media screen and (max-width: 768px) {
							margin: 0 0 5.319vw;
						}
					}
					&:last-child{
						margin-left: 12px;
						@media screen and (max-width: 768px) {
							margin: 0;
						}
					}
				}
			}
		}
	}

	.counterplan-example-total {
		text-align: center;
		.counterplan-example-desc {
			position: relative;
			display: inline-block;
			font-size: 54px;
			font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
			letter-spacing: .2em;
			line-height: 1;
			@media (max-width: 768px) {
				font-size: 8.297vw;
				margin-top: 21.276vw;
				letter-spacing: 1vw;
				text-align: center;
				margin-bottom: 21.276vw;
			}
			&::before {
				position: absolute;
				content: "";
				background: url(../common/img/c-example-border.png) no-repeat;
				display: block;
				background-size: 100%;
				width: 560px;
				height: 5px;
				bottom: -20px;
				@media (max-width: 768px) {
					width: 100%;
					bottom: -3.457vw;
				}
			}
		}
		.counterplan-example-top{
			position: absolute;
			font-size: 24px;
			letter-spacing: 0.15em;
			left: -10px;
			line-height: 1em;
			@media (max-width: 768px) {
				position: absolute;
				font-size: 3.723vw;
				letter-spacing: 0.1em;
			}
		}
		.counterplan-example-total-num {
			display: inline-block;
			vertical-align: bottom;
			width: 180px;
			margin-left: -30px;
			margin-right: 5px;
			@media (max-width: 768px) {
				display: inline-block;
				vertical-align: bottom;
				width: 27.127vw;
				margin-left: -3vw;
				margin-right: 2vw;
			}
		}
		.counterplan-example-day{
			position: absolute;
			font-size: 16px;
			letter-spacing: 0.15em;
			bottom: -51px;
			right: 5px;
			display: block;
			line-height: 1em;
			@media (max-width: 768px) {
				bottom: -12vw;
				width: 100%;
				font-size: 4.255vw;
				display: inline-block;
				left: 50%;
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
			}
		}
		.contactBtn{
			max-width: 304px;
			display: block;
			margin: 125px auto 85px;
			@media (max-width: 768px) {
				width: 82.446vw;
				display: block;
				margin: 0 auto 15.957vw;
				max-width: initial;
			}
		}
	}

	.s-banaWrap{
		width: 100%;
		padding-bottom: 125px;
		div{
			max-width: 1250px;
			background-image: url(../common/img/banaSeminar_pc.png);
			background-size: cover;
			margin: 0 auto;
			@media (max-width: 768px) {
				margin-top: 5.333%;
				background-image: url(../common/img/banaSeminar_sp.png);
			}
			a{
				display: block;
				padding: 30px 9% 45px;
				@media (max-width: 768px) {
					padding: 6.667vw 0 10.667vw;
				}
				span{
					display: block;
					color: #000;
					&.title{
						font-size: 37px;
						line-height: 37px;
						margin-bottom: 10px;
						padding-top: 40px;
						font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
						text-align: center;
						font-weight: bold;
						@media (max-width: 768px) {
							margin-bottom: 2.667vw;
							padding: 0;
							font-size: 8.533vw;
							font-weight: normal;
						}
						&:before{
							content: "";
							background-image: url(../common/img/free.png);
							background-size: 100%;
							background-repeat: no-repeat;
							padding: 47px;
							vertical-align: -15px;
							margin-right: 5px;
							@media (max-width: 768px) {
								background-size: 20.533vw 18.667vw;
								width: 20.533vw;
								height: 18.667vw;
								display: inline-block;
								vertical-align: -3.733px;
								margin-right: 1.333vw;
								padding: 0;
							}
						}
					}
					&.sub{
						font-size: 16px;
						font-weight: bold;
						margin: 0 auto 20px;
						text-align: center;
						letter-spacing: 3px;
						@media (max-width: 768px) {
							font-size: 4.267vw;
							letter-spacing: .2em;
							font-weight: normal;
							line-height: 1;
							margin: 0 auto 5.333vw;
						}
					}
					&.btn{
						font-size: 16px;
						padding: 5px 0%;
						text-align: center;
						margin: 0 auto;
						max-width: 257px;
						font-weight: bold;
						border: 2px solid #000000;
						border-radius: 25px;
						font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
						@media (max-width: 768px) {
							max-width: 100%;
							width: 58.933vw;
							font-size: 3.733vw;
							border: .533vw solid #000000;
							padding: 1.866vw 0;
							font-weight: normal;
						}
					}
				}
			}
		}
	}
}

#p-outWrap{
	background-color: #000000;
	padding-top: 120px;
	@media (max-width: 768px) {
		padding: 7.978vw 6.648vw 15.159vw;
	}
	.p-innerWrap{
		max-width: 1000px;
		margin: 0 auto 120px;
		@media (max-width: 768px) {
			margin: 0 -6.648vw 21.276vw
		}
		.title{
			@media (max-width: 768px) {
				width: 92.021vw;
				margin: 0 auto;
			}
		}
		.photo{
			margin-top: 20px;
			@media (max-width: 768px) {
				margin-top: 2.127vw;
			}
		}
	}
	.p-detailWrap{
		max-width: 1000px;
		margin: 0 auto;
		text-align: center;
		@media (max-width: 768px) {
			display: block;
			text-align: left;
		}
		h3{
			color: #ffffff;
			text-align: center;
			margin-bottom: 40px;
			font-size: 20px;
			@media (max-width: 768px) {
				font-size: 5.319vw;
				margin-bottom: 10.638vw;
			}
		}
		.p-detailText{
			margin-bottom:55px;
			@media (max-width: 768px) {
				margin-bottom: 12.234vw;
			}
			h2{
				font-size: 38px;
				margin-bottom: 35px;
				line-height: 1em;
				@media (max-width: 768px) {
					font-size: 7.446vw;
					margin-bottom: 10.638vw;
				}
			}
			p{
				letter-spacing: -1.5px;
			}
			span{
				margin-top: 22px;
				font-size: 14px;
			}
			.p-tagWrap{
				display: flex;
				margin-bottom: 35px;
				justify-content: center;
				@media (max-width: 768px) {
					margin-bottom: 10.638vw;
				}
				span{
					font-size: 24px;
					border: 1px solid #fff;
					padding: 12px 18px;
					line-height: 1em;
					margin: 0 10px;
					@media (max-width: 768px) {
						font-size: 6.382vw;
						padding: 3.989vw;
					}
				}
			}
		}
		.p-detailImg{
			max-width: 37%;
			margin: 0 auto;
			@media (max-width: 768px) {
				max-width: initial;
				padding: 0;
			}
			a{
				display: block;
			}
		}
	}
	.p-methodWrap{
		max-width: 1000px;
		margin: 0px auto 0px;
		padding-top: 110px;
		@media (max-width: 768px) {
			padding-top: 21.276vw;
		}
		ul{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			@media (max-width: 768px) {
				display: block;
			}
			li:first-child{
				width: 25%;
				background-color: #1a1a1a;
				padding: 45px 2.5% 0;
				@media (max-width: 768px) {
					width: auto;
					padding: 12.5vw 6.914vw;
				}
			}
			li:nth-child(3){
				width: 25%;
				background-color: #1a1a1a;
				padding: 45px 2.5% 0;
				@media (max-width: 768px) {
					width: auto;
					padding: 12.5vw 6.914vw 0;
				}
			}
			li:last-child{
				width: 25%;
				background-color: #1a1a1a;
				padding: 45px 2.5% 0;
				@media (max-width: 768px) {
					width: auto;
					padding: 12.5vw 6.914vw;
				}
			}
			li.arrow{
				position: relative;
				width: 2%;
				@media (max-width: 768px) {
					width: auto;
					padding: 3.989vw 0;
				}
				img{
					width: 100%;
					bottom: 0;
					right: 0;
					margin: 0 auto;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					-webkit-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					@media (max-width: 768px) {
						width: 7.446vw;
						position: static;
						transform: none;
					}
				}
			}
			.title{
				width: 54%;
				margin-bottom: 25px;
				@media (max-width: 768px) {
					width: 34.574vw;
					margin-bottom: 6.914vw;;
				}
			}
			.text{
				line-height: 1.5em;
				letter-spacing: -1.4px;
				margin-bottom: 25px;
			}
		}
	}

	.p-benefitsWrap{
		max-width: 1000px;
		margin: 0px auto;
		padding: 90px 0 15px;
		h3{
			color: #ffffff;
			text-align: center;
			margin-bottom: 45px;
			font-size: 20px;
			@media (max-width: 768px) {
				font-size: 5.319vw;
				margin-bottom: 10.638vw;
			}
		}
		.benefitsSingle{
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			margin-bottom: 110px;
			@media (max-width: 768px) {
				display: block;
				margin-bottom: 15.957vw;
			}
			.benefitsText{
				max-width: 575px;
				@media (max-width: 768px) {
					max-width: initial;
				}
				img{
					max-width: 144px;
					margin-bottom: 44px;
					@media (max-width: 768px) {
						width: 22.872vw;
						margin: 0 auto 11.702vw;
						max-width: initial;
					}
				}
				.title{
					font-size: 38px;
					line-height: 1.3em;
					margin-bottom: 20px;
					font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
					@media (max-width: 768px) {
						font-size: 7.449vw;
						letter-spacing: 1vw;
						margin-bottom: 3.457vw;
					}
				}
				.sub{
					font-size: 16px;
					line-height: 1em;
					letter-spacing: -0.05em;
					@media (max-width: 768px) {
						font-size: 4.255vw;
						letter-spacing: 0;
						line-height: 2em;
						margin-bottom: 9.84vw;
					}
				}
			}
			.benefitsImg{
				max-width: 425px;
				@media (max-width: 768px) {
					max-width: initial;
				}
			}
		}
	}

	.p-effectWrap{
		max-width: 775px;
		margin: 0px auto;
		padding:0px 0 125px;
		@media (max-width: 768px) {
			max-width: initial;
			padding-bottom: 13.829vw;
		}
		.innerWrap{
			display: flex;
			@media (max-width: 768px) {
				display: block;
			}
			.effectImg{
				max-width: 99px;
				margin-right: 60px;
				@media (max-width: 768px) {
					max-width: inherit;
					width: 26.063vw;
					margin: 0 auto 9.574vw;
				}
			}
			.effectText{
				max-width: 605px;
				text-align: center;
				@media (max-width: 768px) {
					max-width: initial;
				}
				.title{
					font-size: 30px;
					margin-bottom: 26px;
					display: block;
					line-height: 1em;
					font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
					@media (max-width: 768px) {
						font-size: 5.585vw;
					}
					&:before{
						content: "";
						display: inline-block;
						width: 43.5px;
						height: 1px;
						background: #FFF;
						-webkit-transform: rotate(45deg);
						transform: rotate(45deg);
						margin: 0 8px 8px 0;
					}
					&:after{
						content: "";
						display: inline-block;
						width: 43.5px;
						height: 1px;
						background: #FFF;
						-webkit-transform: rotate(-45deg);
						transform: rotate(-45deg);
						margin: 0 8px 8px 0;
					}
				}
				.effectTextImg{
					display: flex;
					@media (max-width: 768px) {
						display: block;
					}
					.spray{
						max-width: 290px;
						position: relative;
						@media (max-width: 768px) {
							max-width: initial;
							display: block;
						}
					}
					.adhesion{
						max-width: 290px;
						margin-left: 30px;
						position: relative;
						@media (max-width: 768px) {
							max-width: initial;
							margin-top: 13.297vw;
							margin-left: 0;
							max-width: initial;
						}
						&:before{
							content: "";
							position: absolute;
							top: calc(50% - 13.5px);
							left: -20px;
							display: block;
							width: 11px;
							height: 27px;
							background-image: url(../img/p-effectNext.png);
							background-size: 11px 27px;
							@media (max-width: 768px) {
								top: -8vw;
								left: 50%;
								width: 4.521vw;
								height: 3.457vw;
								background-size: 4.521vw 3.457vw;
								background-image: url(../img/p-effectNextSp.png);
							}
						}
					}
				}
				.comment{
					position: absolute;
					left: 50%;
					bottom: 0;
					transform: translateX(-50%);
					-webkit-transform: translateX(-50%);
					word-break: keep-all;
					font-size: 16px;
					@media (max-width: 768px) {
						font-size: 4.255vw;
					}
				}
				.sub{
					font-size: 16px;
					margin-top: 20px;
					display: block;
					@media (max-width: 768px) {
						margin-top: 5.319vw;
						font-size: 4.255vw;
					}
				}
			}
		}
	}



	.p-thought{
		max-width: 1000px;
		margin: 0px auto;
		padding:0px 0 30px;
		@media (max-width: 768px) {
			
		}
		h3{
			color: #ffffff;
			text-align: center;
			margin-bottom: 55px;
			font-size: 20px;
			@media (max-width: 768px) {
				font-size: 5.319vw;
				margin-bottom: 11.17vw;
			}
		}
		.thoughtList{
			display: flex;
			flex-wrap: wrap;
			@media (max-width: 768px) {
				display: block;
			}
			li{
				display: flex;
				width: 47%;
				margin-bottom: 38px;
				@media (max-width: 768px) {
					display: block;
					width: auto;
					margin-bottom: 11.17vw;
				}
				&:nth-child(odd){
					margin-right: 6%;
					@media (max-width: 768px) {
						margin-right: 0;
					}
				}
				.imgWrap{
					max-width: 95px;
					margin-right: 13px;
					@media (max-width: 768px) {
						max-width: initial;
						margin-right: 0px;
					}
					img{
						width: 65px;
						margin: 0 auto;
						@media (max-width: 768px) {
							width: 17.333vw;
						}
					}
					span{
						font-size: 14px;
						display: block;
						text-align: center;
						margin-top: 10px;
						@media (max-width: 768px) {
							font-size: 3.723vw;
							margin-top: 2.659vw;
							margin-bottom: 4.787vw;
						}
					}
				}
				p{
					max-width: 327px;
					border: 1px solid #fff;
					padding: 17px;
					font-size: 16px;
					border-radius: 15px;
					line-height: 1.6em;
					@media (max-width: 768px) {
						max-width: initial;
						font-size: 4.255vw;
						padding: 5.851vw;
					}
				}
			}
		}
	}











	.p-campaign{
		max-width: 1000px;
		margin: 0px auto;
		padding: 90px 0 125px;
		@media (max-width: 768px) {
			padding-bottom: 0;
		}
		h3{
			color: #ffffff;
			text-align: center;
			margin-bottom: 30px;
			font-size: 20px;
			@media (max-width: 768px) {
				font-size: 5.319vw;
				margin-bottom: 11.17vw;
			}
		}
		.textWrap{
			height: 400px;
			background-color: #1a1a1a;
			padding: 3%;
			overflow: auto;
			margin-bottom: 80px;
			@media (max-width: 768px) {
				height: 106.38vw;
				margin-bottom: 15.159vw;
			}
		}
		/* スクロールの幅の設定 */
		.textWrap::-webkit-scrollbar {
			width: 16px;
			height: 16px;
		}
		/* スクロールの背景の設定 */
		.textWrap::-webkit-scrollbar-track {
			border-radius: 5px;
			box-shadow: 0 0 20px #333333 inset;
		}
		/* スクロールのつまみ部分の設定 */
		.textWrap::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background: #808080;
		}
		.commitBtn{
			max-width: 310px;
			margin: 0 auto;
			display: block;
			@media (max-width: 768px) {
				max-width: initial;
			}
		}
	}
}


.bottomColor{
	background-image: url(../img/bottomColor.png);
	background-size: 31.527vw;
	background-repeat: no-repeat;
	background-position: 0px 93%;
	padding-top: 115px;;
	@media (max-width: 768px) {
		padding-top: 18.617vw;
		background-image: none;
	}
}

// バナーエリア
.banaWrap{
	margin: 0 auto 115px;
	max-width: 1250px;
	@media (max-width: 768px) {
		margin: 0;
		max-width: 100%;
	}

	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@media (max-width: 768px) {
			display: block;
			padding: 0 6.667vw;
		}
		li{
			max-width: 400px;
			width: 31%;
			background-size: cover;
			+ li {
				@media (max-width: 768px) {
					margin-top: 5.333vw;
				}
			}
			@media (max-width: 768px) {
				display: block;
				max-width: 100%;
				width: 100%;
			}
			&:first-child{
				background-image: url(../common/img/banaConst.png);
			}
			&:nth-child(2){
				background-image: url(../common/img/banaCompany.png);
			}
			&:nth-child(3){
				background-image: url(../common/img/banaSchool.png);
			}
			a{
				display: block;
				padding: 72px 9% 60px;
				@media (max-width: 768px) {
					padding: 20vw 0 12vw;
				}
			}
			span{
				display: block;
				color: #000;
				&.title{
					font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
					font-size: 32px;
					line-height: 32px;
					text-align: center;
					font-weight: bold;
					margin-bottom: 45px;
					letter-spacing: 5px;
					@media (max-width: 768px) {
						font-size: 8.533vw;
						line-height: 1;
						font-weight: normal;
						letter-spacing: .2em;
						margin-bottom: 4.8vw;
					}
				}
				&.btn{
					font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
					font-size: 16px;
					padding: 5px 0;
					text-align: center;
					margin: 0 auto;
					max-width: 257px;
					font-weight: bold;
					border: 2px solid #000000;
					border-radius: 25px;
					@media (max-width: 768px) {
						max-width: 100%;
						width: 58.933vw;
						font-size: 3.733vw;
						border: .533vw solid #000000;
						padding: 1.866vw 0;
						font-weight: normal;
					}
				}
			}

			&:last-child{
				width: 100%;
				background-image: url(../common/img/banaSeminar_pc.png);
				background-size: cover;
				margin-top: 3%;
				max-width: 100%;
				@media (max-width: 768px) {
					margin-top: 5.333%;
					background-image: url(../common/img/banaSeminar_sp.png);
				}
				a{
					display: block;
					padding: 30px 9% 45px;
					@media (max-width: 768px) {
						padding: 6.667vw 0 10.667vw;
					}
					span{
						display: block;
						color: #000;
						&.title{
							font-size: 37px;
							line-height: 37px;
							margin-bottom: 10px;
							padding-top: 40px;
							@media (max-width: 768px) {
								margin-bottom: 2.667vw;
								padding: 0;
								font-size: 8.533vw;
								font-weight: normal;
							}
							&:before{
								content: "";
								background-image: url(../common/img/free.png);
								background-size: 100%;
								background-repeat: no-repeat;
								padding: 47px;
								vertical-align: -15px;
								margin-right: 5px;
								@media (max-width: 768px) {
									background-size: 20.533vw 18.667vw;
									width: 20.533vw;
									height: 18.667vw;
									display: inline-block;
									vertical-align: -3.733px;
									margin-right: 1.333vw;
									padding: 0;
								}
							}
						}
						&.sub{
							font-size: 16px;
							font-weight: bold;
							margin: 0 auto 20px;
							text-align: center;
							letter-spacing: 3px;
							@media (max-width: 768px) {
								font-size: 4.267vw;
								letter-spacing: .2em;
								font-weight: normal;
								line-height: 1;
								margin: 0 auto 5.333w;
							}
						}
						&.btn{
							font-size: 16px;
							padding: 5px 0%;
							text-align: center;
							margin: 0 auto;
							max-width: 257px;
							font-weight: bold;
							border: 2px solid #000000;
							border-radius: 25px;
							@media (max-width: 768px) {
								max-width: 100%;
								width: 58.933vw;
								font-size: 3.733vw;
								border: .533vw solid #000000;
								padding: 1.866vw 0;
								font-weight: normal;
							}
						}
					}
				}
			}
		}
	}
}

#banaFullWrap{
	li{
		max-width: 1365px;
		margin: 0 auto 20px;
		a{
			display: block;
		}
	}
}