@charset "UTF-8";
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #1a1a1a;
}

html img, body img {
  width: 100%;
  height: auto;
  display: block;
}

body.modal {
  position: fixed;
}

p, a, span {
  color: #ffffff;
  font-size: 18px;
  font-family: "游ゴシック Medium","游ゴシック体","Yu Gothic Medium",YuGothic,"メイリオ",Meiryo,Lato,"Noto Sans JP","ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  vertical-align: middle;
  line-height: 2em;
}

@media screen and (max-width: 768px) {
  p, a, span {
    font-size: 4.787vw;
  }
}

h1 {
  color: #ffffff;
  font-size: 54px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  vertical-align: middle;
  margin-bottom: 35px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 6.9333vw;
  }
}

h2 {
  color: #ffffff;
  font-size: 35px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  vertical-align: middle;
  margin-bottom: 27px;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 6.9333vw;
    margin-bottom: 11.436vw;
  }
}

a, a img {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@media screen and (min-width: 769px) {
  a:hover, a img:hover {
    opacity: 0.6;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
}

@media screen and (max-width: 768px) {
  .pcOnly {
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  .spOnly {
    display: none !important;
  }
}

.project {
  position: relative;
}

.js-inview .mainImg-box {
  opacity: 0;
  -webkit-transform: translate(0, 20px);
  transform: translate(0, 20px);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  background-image: url(../img/main.jpg);
}

@media screen and (max-width: 768px) {
  .js-inview .mainImg-box {
    background-image: url(../img/mainSp.jpg);
  }
}

.js-inview .mainLead-box {
  opacity: 0;
  -webkit-transform: translate(0, 20px);
  transform: translate(0, 20px);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  transition-delay: .7s;
  -webkit-transition-delay: .7s;
}

.js-inview .mainBar {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 0;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
}

.js-inview.inview .mainImg-box {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.js-inview.inview .mainLead-box {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.js-inview.inview .mainBar {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  width: 100%;
  opacity: 1;
  -webkit-transition-duration: .7s;
  transition-duration: .7s;
}

.mainImg {
  padding-top: 85px;
  margin-bottom: 130px;
  text-align: center;
  position: relative;
  background-color: #000000;
}

@media screen and (max-width: 768px) {
  .mainImg {
    padding-top: 16.361vw;
    margin-bottom: 13.297vw;
  }
}

.mainImg .mainLead-box {
  padding: 35px 0 40px;
  max-width: 835px;
  width: 57%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .mainImg .mainLead-box {
    width: 85.106vw;
    padding: 3.723vw 0 18.617vw;
  }
}

.mainImg .js-inview {
  opacity: 0;
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
  -webkit-transition-duration: .75s;
          transition-duration: .75s;
  -webkit-transition-timing-function: cubic-bezier(0.08, 0.38, 0.24, 0.98);
          transition-timing-function: cubic-bezier(0.08, 0.38, 0.24, 0.98);
}

.mainImg .js-inview.inview {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.mainImg .mainBar {
  height: 12px;
  background: red;
  background: -webkit-gradient(linear, left top, right top, from(red), color-stop(17%, #d239f3), color-stop(33%, #1b3df7), color-stop(50%, #41f9f9), color-stop(67%, #3df74e), color-stop(83%, #f9ff00), to(#e85a02));
  background: linear-gradient(90deg, red 0%, #d239f3 17%, #1b3df7 33%, #41f9f9 50%, #3df74e 67%, #f9ff00 83%, #e85a02 100%);
}

#topTextWrap {
  max-width: 1250px;
  margin: 0 auto 120px;
}

#topTextWrap h2 {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  #topTextWrap h2 {
    font-size: 6.4vw;
  }
}

@media screen and (max-width: 768px) {
  #topTextWrap h1 {
    font-size: 8.51vw;
  }
}

#topTextWrap p {
  max-width: 820px;
}

.topColor {
  background-image: url(../img/topColor.png);
  background-repeat: no-repeat;
  background-position: right;
}

@media screen and (max-width: 768px) {
  .topColor {
    background-image: none;
  }
}

.topColor #projectAnchor {
  padding-top: 150px;
}

@media screen and (max-width: 768px) {
  .topColor #projectAnchor {
    padding-top: 15.957vw;
  }
}

.mainWrap {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .mainWrap {
    padding: 0 6.648vw;
  }
}

.mainWrap .innerMenu {
  max-width: 1250px;
  margin: 0 auto;
}

.mainWrap .innerMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .mainWrap .innerMenu ul {
    display: block;
  }
}

.mainWrap .innerMenu ul li {
  width: 30%;
}

@media screen and (max-width: 768px) {
  .mainWrap .innerMenu ul li {
    width: auto;
    margin-bottom: 4.787vw;
    position: relative;
  }
}

.mainWrap .innerMenu ul li:after {
  display: none;
}

@media screen and (max-width: 768px) {
  .mainWrap .innerMenu ul li:after {
    content: "";
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    padding: 8px;
    right: 7.361vw;
    top: 5.053vw;
    position: absolute;
    background-position: center;
    display: block;
  }
}

.mainWrap .innerMenu ul li a {
  padding: 15px 0;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: block;
  font-weight: bold;
  border: 2px solid #ffffff;
  border-radius: 35px;
}

@media screen and (max-width: 768px) {
  .mainWrap .innerMenu ul li a {
    font-size: 3.51vw;
  }
}

.mainWrap .innerMenu ul li a:after {
  content: "";
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  padding: 8px;
  margin-left: 15px;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .mainWrap .innerMenu ul li a:after {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .mainWrap .innerMenu ul li:last-child {
    margin-bottom: 0;
  }
}

.mainWrap .innerTextWrap {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto 0px;
}

@media screen and (max-width: 768px) {
  .mainWrap .innerTextWrap {
    padding: 0;
  }
}

.mainWrap .innerTextWrap #innerTopWrap img {
  width: 44%;
  float: right;
  margin-left: 20px;
  margin-bottom: 15px;
}

.mainWrap .innerTextWrap #innerTopWrap p {
  display: inline;
}

.mainWrap .innerTextWrap img.innerSingle {
  padding: 40px 0px;
}

.mainWrap .innerTextWrap .innerLine {
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .mainWrap .innerTextWrap .innerLine {
    margin-bottom: 0;
  }
}

.mainWrap .innerTextWrap .innerLine a {
  display: block;
}

.mainWrap .innerTextWrap .innerLine ul {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .mainWrap .innerTextWrap .innerLine ul {
    display: block;
    margin: 5.319vw 0 0;
  }
}

.mainWrap .innerTextWrap .innerLine ul li:first-child {
  margin-right: 12px;
}

@media screen and (max-width: 768px) {
  .mainWrap .innerTextWrap .innerLine ul li:first-child {
    margin: 0 0 5.319vw;
  }
}

.mainWrap .innerTextWrap .innerLine ul li:last-child {
  margin-left: 12px;
}

@media screen and (max-width: 768px) {
  .mainWrap .innerTextWrap .innerLine ul li:last-child {
    margin: 0;
  }
}

.mainWrap .counterplan-example-total {
  text-align: center;
}

.mainWrap .counterplan-example-total .counterplan-example-desc {
  position: relative;
  display: inline-block;
  font-size: 54px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  letter-spacing: .2em;
  line-height: 1;
}

@media (max-width: 768px) {
  .mainWrap .counterplan-example-total .counterplan-example-desc {
    font-size: 8.297vw;
    margin-top: 21.276vw;
    letter-spacing: 1vw;
    text-align: center;
    margin-bottom: 21.276vw;
  }
}

.mainWrap .counterplan-example-total .counterplan-example-desc::before {
  position: absolute;
  content: "";
  background: url(../common/img/c-example-border.png) no-repeat;
  display: block;
  background-size: 100%;
  width: 560px;
  height: 5px;
  bottom: -20px;
}

@media (max-width: 768px) {
  .mainWrap .counterplan-example-total .counterplan-example-desc::before {
    width: 100%;
    bottom: -3.457vw;
  }
}

.mainWrap .counterplan-example-total .counterplan-example-top {
  position: absolute;
  font-size: 24px;
  letter-spacing: 0.15em;
  left: -10px;
  line-height: 1em;
}

@media (max-width: 768px) {
  .mainWrap .counterplan-example-total .counterplan-example-top {
    position: absolute;
    font-size: 3.723vw;
    letter-spacing: 0.1em;
  }
}

.mainWrap .counterplan-example-total .counterplan-example-total-num {
  display: inline-block;
  vertical-align: bottom;
  width: 180px;
  margin-left: -30px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .mainWrap .counterplan-example-total .counterplan-example-total-num {
    display: inline-block;
    vertical-align: bottom;
    width: 27.127vw;
    margin-left: -3vw;
    margin-right: 2vw;
  }
}

.mainWrap .counterplan-example-total .counterplan-example-day {
  position: absolute;
  font-size: 16px;
  letter-spacing: 0.15em;
  bottom: -51px;
  right: 5px;
  display: block;
  line-height: 1em;
}

@media (max-width: 768px) {
  .mainWrap .counterplan-example-total .counterplan-example-day {
    bottom: -12vw;
    width: 100%;
    font-size: 4.255vw;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}

.mainWrap .counterplan-example-total .contactBtn {
  max-width: 304px;
  display: block;
  margin: 125px auto 85px;
}

@media (max-width: 768px) {
  .mainWrap .counterplan-example-total .contactBtn {
    width: 82.446vw;
    display: block;
    margin: 0 auto 15.957vw;
    max-width: initial;
  }
}

.mainWrap .s-banaWrap {
  width: 100%;
  padding-bottom: 125px;
}

.mainWrap .s-banaWrap div {
  max-width: 1250px;
  background-image: url(../common/img/banaSeminar_pc.png);
  background-size: cover;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .mainWrap .s-banaWrap div {
    margin-top: 5.333%;
    background-image: url(../common/img/banaSeminar_sp.png);
  }
}

.mainWrap .s-banaWrap div a {
  display: block;
  padding: 30px 9% 45px;
}

@media (max-width: 768px) {
  .mainWrap .s-banaWrap div a {
    padding: 6.667vw 0 10.667vw;
  }
}

.mainWrap .s-banaWrap div a span {
  display: block;
  color: #000;
}

.mainWrap .s-banaWrap div a span.title {
  font-size: 37px;
  line-height: 37px;
  margin-bottom: 10px;
  padding-top: 40px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 768px) {
  .mainWrap .s-banaWrap div a span.title {
    margin-bottom: 2.667vw;
    padding: 0;
    font-size: 8.533vw;
    font-weight: normal;
  }
}

.mainWrap .s-banaWrap div a span.title:before {
  content: "";
  background-image: url(../common/img/free.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 47px;
  vertical-align: -15px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .mainWrap .s-banaWrap div a span.title:before {
    background-size: 20.533vw 18.667vw;
    width: 20.533vw;
    height: 18.667vw;
    display: inline-block;
    vertical-align: -3.733px;
    margin-right: 1.333vw;
    padding: 0;
  }
}

.mainWrap .s-banaWrap div a span.sub {
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto 20px;
  text-align: center;
  letter-spacing: 3px;
}

@media (max-width: 768px) {
  .mainWrap .s-banaWrap div a span.sub {
    font-size: 4.267vw;
    letter-spacing: .2em;
    font-weight: normal;
    line-height: 1;
    margin: 0 auto 5.333vw;
  }
}

.mainWrap .s-banaWrap div a span.btn {
  font-size: 16px;
  padding: 5px 0%;
  text-align: center;
  margin: 0 auto;
  max-width: 257px;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 25px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
}

@media (max-width: 768px) {
  .mainWrap .s-banaWrap div a span.btn {
    max-width: 100%;
    width: 58.933vw;
    font-size: 3.733vw;
    border: .533vw solid #000000;
    padding: 1.866vw 0;
    font-weight: normal;
  }
}

#p-outWrap {
  background-color: #000000;
  padding-top: 120px;
}

@media (max-width: 768px) {
  #p-outWrap {
    padding: 7.978vw 6.648vw 15.159vw;
  }
}

#p-outWrap .p-innerWrap {
  max-width: 1000px;
  margin: 0 auto 120px;
}

@media (max-width: 768px) {
  #p-outWrap .p-innerWrap {
    margin: 0 -6.648vw 21.276vw;
  }
}

@media (max-width: 768px) {
  #p-outWrap .p-innerWrap .title {
    width: 92.021vw;
    margin: 0 auto;
  }
}

#p-outWrap .p-innerWrap .photo {
  margin-top: 20px;
}

@media (max-width: 768px) {
  #p-outWrap .p-innerWrap .photo {
    margin-top: 2.127vw;
  }
}

#p-outWrap .p-detailWrap {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  #p-outWrap .p-detailWrap {
    display: block;
    text-align: left;
  }
}

#p-outWrap .p-detailWrap h3 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
}

@media (max-width: 768px) {
  #p-outWrap .p-detailWrap h3 {
    font-size: 5.319vw;
    margin-bottom: 10.638vw;
  }
}

#p-outWrap .p-detailWrap .p-detailText {
  margin-bottom: 55px;
}

@media (max-width: 768px) {
  #p-outWrap .p-detailWrap .p-detailText {
    margin-bottom: 12.234vw;
  }
}

#p-outWrap .p-detailWrap .p-detailText h2 {
  font-size: 38px;
  margin-bottom: 35px;
  line-height: 1em;
}

@media (max-width: 768px) {
  #p-outWrap .p-detailWrap .p-detailText h2 {
    font-size: 7.446vw;
    margin-bottom: 10.638vw;
  }
}

#p-outWrap .p-detailWrap .p-detailText p {
  letter-spacing: -1.5px;
}

#p-outWrap .p-detailWrap .p-detailText span {
  margin-top: 22px;
  font-size: 14px;
}

#p-outWrap .p-detailWrap .p-detailText .p-tagWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  #p-outWrap .p-detailWrap .p-detailText .p-tagWrap {
    margin-bottom: 10.638vw;
  }
}

#p-outWrap .p-detailWrap .p-detailText .p-tagWrap span {
  font-size: 24px;
  border: 1px solid #fff;
  padding: 12px 18px;
  line-height: 1em;
  margin: 0 10px;
}

@media (max-width: 768px) {
  #p-outWrap .p-detailWrap .p-detailText .p-tagWrap span {
    font-size: 6.382vw;
    padding: 3.989vw;
  }
}

#p-outWrap .p-detailWrap .p-detailImg {
  max-width: 37%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #p-outWrap .p-detailWrap .p-detailImg {
    max-width: initial;
    padding: 0;
  }
}

#p-outWrap .p-detailWrap .p-detailImg a {
  display: block;
}

#p-outWrap .p-methodWrap {
  max-width: 1000px;
  margin: 0px auto 0px;
  padding-top: 110px;
}

@media (max-width: 768px) {
  #p-outWrap .p-methodWrap {
    padding-top: 21.276vw;
  }
}

#p-outWrap .p-methodWrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  #p-outWrap .p-methodWrap ul {
    display: block;
  }
}

#p-outWrap .p-methodWrap ul li:first-child {
  width: 25%;
  background-color: #1a1a1a;
  padding: 45px 2.5% 0;
}

@media (max-width: 768px) {
  #p-outWrap .p-methodWrap ul li:first-child {
    width: auto;
    padding: 12.5vw 6.914vw;
  }
}

#p-outWrap .p-methodWrap ul li:nth-child(3) {
  width: 25%;
  background-color: #1a1a1a;
  padding: 45px 2.5% 0;
}

@media (max-width: 768px) {
  #p-outWrap .p-methodWrap ul li:nth-child(3) {
    width: auto;
    padding: 12.5vw 6.914vw 0;
  }
}

#p-outWrap .p-methodWrap ul li:last-child {
  width: 25%;
  background-color: #1a1a1a;
  padding: 45px 2.5% 0;
}

@media (max-width: 768px) {
  #p-outWrap .p-methodWrap ul li:last-child {
    width: auto;
    padding: 12.5vw 6.914vw;
  }
}

#p-outWrap .p-methodWrap ul li.arrow {
  position: relative;
  width: 2%;
}

@media (max-width: 768px) {
  #p-outWrap .p-methodWrap ul li.arrow {
    width: auto;
    padding: 3.989vw 0;
  }
}

#p-outWrap .p-methodWrap ul li.arrow img {
  width: 100%;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  #p-outWrap .p-methodWrap ul li.arrow img {
    width: 7.446vw;
    position: static;
    -webkit-transform: none;
            transform: none;
  }
}

#p-outWrap .p-methodWrap ul .title {
  width: 54%;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  #p-outWrap .p-methodWrap ul .title {
    width: 34.574vw;
    margin-bottom: 6.914vw;
  }
}

#p-outWrap .p-methodWrap ul .text {
  line-height: 1.5em;
  letter-spacing: -1.4px;
  margin-bottom: 25px;
}

#p-outWrap .p-benefitsWrap {
  max-width: 1000px;
  margin: 0px auto;
  padding: 90px 0 15px;
}

#p-outWrap .p-benefitsWrap h3 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 45px;
  font-size: 20px;
}

@media (max-width: 768px) {
  #p-outWrap .p-benefitsWrap h3 {
    font-size: 5.319vw;
    margin-bottom: 10.638vw;
  }
}

#p-outWrap .p-benefitsWrap .benefitsSingle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 110px;
}

@media (max-width: 768px) {
  #p-outWrap .p-benefitsWrap .benefitsSingle {
    display: block;
    margin-bottom: 15.957vw;
  }
}

#p-outWrap .p-benefitsWrap .benefitsSingle .benefitsText {
  max-width: 575px;
}

@media (max-width: 768px) {
  #p-outWrap .p-benefitsWrap .benefitsSingle .benefitsText {
    max-width: initial;
  }
}

#p-outWrap .p-benefitsWrap .benefitsSingle .benefitsText img {
  max-width: 144px;
  margin-bottom: 44px;
}

@media (max-width: 768px) {
  #p-outWrap .p-benefitsWrap .benefitsSingle .benefitsText img {
    width: 22.872vw;
    margin: 0 auto 11.702vw;
    max-width: initial;
  }
}

#p-outWrap .p-benefitsWrap .benefitsSingle .benefitsText .title {
  font-size: 38px;
  line-height: 1.3em;
  margin-bottom: 20px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
}

@media (max-width: 768px) {
  #p-outWrap .p-benefitsWrap .benefitsSingle .benefitsText .title {
    font-size: 7.449vw;
    letter-spacing: 1vw;
    margin-bottom: 3.457vw;
  }
}

#p-outWrap .p-benefitsWrap .benefitsSingle .benefitsText .sub {
  font-size: 16px;
  line-height: 1em;
  letter-spacing: -0.05em;
}

@media (max-width: 768px) {
  #p-outWrap .p-benefitsWrap .benefitsSingle .benefitsText .sub {
    font-size: 4.255vw;
    letter-spacing: 0;
    line-height: 2em;
    margin-bottom: 9.84vw;
  }
}

#p-outWrap .p-benefitsWrap .benefitsSingle .benefitsImg {
  max-width: 425px;
}

@media (max-width: 768px) {
  #p-outWrap .p-benefitsWrap .benefitsSingle .benefitsImg {
    max-width: initial;
  }
}

#p-outWrap .p-effectWrap {
  max-width: 775px;
  margin: 0px auto;
  padding: 0px 0 125px;
}

@media (max-width: 768px) {
  #p-outWrap .p-effectWrap {
    max-width: initial;
    padding-bottom: 13.829vw;
  }
}

#p-outWrap .p-effectWrap .innerWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  #p-outWrap .p-effectWrap .innerWrap {
    display: block;
  }
}

#p-outWrap .p-effectWrap .innerWrap .effectImg {
  max-width: 99px;
  margin-right: 60px;
}

@media (max-width: 768px) {
  #p-outWrap .p-effectWrap .innerWrap .effectImg {
    max-width: inherit;
    width: 26.063vw;
    margin: 0 auto 9.574vw;
  }
}

#p-outWrap .p-effectWrap .innerWrap .effectText {
  max-width: 605px;
  text-align: center;
}

@media (max-width: 768px) {
  #p-outWrap .p-effectWrap .innerWrap .effectText {
    max-width: initial;
  }
}

#p-outWrap .p-effectWrap .innerWrap .effectText .title {
  font-size: 30px;
  margin-bottom: 26px;
  display: block;
  line-height: 1em;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
}

@media (max-width: 768px) {
  #p-outWrap .p-effectWrap .innerWrap .effectText .title {
    font-size: 5.585vw;
  }
}

#p-outWrap .p-effectWrap .innerWrap .effectText .title:before {
  content: "";
  display: inline-block;
  width: 43.5px;
  height: 1px;
  background: #FFF;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0 8px 8px 0;
}

#p-outWrap .p-effectWrap .innerWrap .effectText .title:after {
  content: "";
  display: inline-block;
  width: 43.5px;
  height: 1px;
  background: #FFF;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: 0 8px 8px 0;
}

#p-outWrap .p-effectWrap .innerWrap .effectText .effectTextImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  #p-outWrap .p-effectWrap .innerWrap .effectText .effectTextImg {
    display: block;
  }
}

#p-outWrap .p-effectWrap .innerWrap .effectText .effectTextImg .spray {
  max-width: 290px;
  position: relative;
}

@media (max-width: 768px) {
  #p-outWrap .p-effectWrap .innerWrap .effectText .effectTextImg .spray {
    max-width: initial;
    display: block;
  }
}

#p-outWrap .p-effectWrap .innerWrap .effectText .effectTextImg .adhesion {
  max-width: 290px;
  margin-left: 30px;
  position: relative;
}

@media (max-width: 768px) {
  #p-outWrap .p-effectWrap .innerWrap .effectText .effectTextImg .adhesion {
    max-width: initial;
    margin-top: 13.297vw;
    margin-left: 0;
    max-width: initial;
  }
}

#p-outWrap .p-effectWrap .innerWrap .effectText .effectTextImg .adhesion:before {
  content: "";
  position: absolute;
  top: calc(50% - 13.5px);
  left: -20px;
  display: block;
  width: 11px;
  height: 27px;
  background-image: url(../img/p-effectNext.png);
  background-size: 11px 27px;
}

@media (max-width: 768px) {
  #p-outWrap .p-effectWrap .innerWrap .effectText .effectTextImg .adhesion:before {
    top: -8vw;
    left: 50%;
    width: 4.521vw;
    height: 3.457vw;
    background-size: 4.521vw 3.457vw;
    background-image: url(../img/p-effectNextSp.png);
  }
}

#p-outWrap .p-effectWrap .innerWrap .effectText .comment {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  word-break: keep-all;
  font-size: 16px;
}

@media (max-width: 768px) {
  #p-outWrap .p-effectWrap .innerWrap .effectText .comment {
    font-size: 4.255vw;
  }
}

#p-outWrap .p-effectWrap .innerWrap .effectText .sub {
  font-size: 16px;
  margin-top: 20px;
  display: block;
}

@media (max-width: 768px) {
  #p-outWrap .p-effectWrap .innerWrap .effectText .sub {
    margin-top: 5.319vw;
    font-size: 4.255vw;
  }
}

#p-outWrap .p-thought {
  max-width: 1000px;
  margin: 0px auto;
  padding: 0px 0 30px;
}

#p-outWrap .p-thought h3 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 55px;
  font-size: 20px;
}

@media (max-width: 768px) {
  #p-outWrap .p-thought h3 {
    font-size: 5.319vw;
    margin-bottom: 11.17vw;
  }
}

#p-outWrap .p-thought .thoughtList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  #p-outWrap .p-thought .thoughtList {
    display: block;
  }
}

#p-outWrap .p-thought .thoughtList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 47%;
  margin-bottom: 38px;
}

@media (max-width: 768px) {
  #p-outWrap .p-thought .thoughtList li {
    display: block;
    width: auto;
    margin-bottom: 11.17vw;
  }
}

#p-outWrap .p-thought .thoughtList li:nth-child(odd) {
  margin-right: 6%;
}

@media (max-width: 768px) {
  #p-outWrap .p-thought .thoughtList li:nth-child(odd) {
    margin-right: 0;
  }
}

#p-outWrap .p-thought .thoughtList li .imgWrap {
  max-width: 95px;
  margin-right: 13px;
}

@media (max-width: 768px) {
  #p-outWrap .p-thought .thoughtList li .imgWrap {
    max-width: initial;
    margin-right: 0px;
  }
}

#p-outWrap .p-thought .thoughtList li .imgWrap img {
  width: 65px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #p-outWrap .p-thought .thoughtList li .imgWrap img {
    width: 17.333vw;
  }
}

#p-outWrap .p-thought .thoughtList li .imgWrap span {
  font-size: 14px;
  display: block;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 768px) {
  #p-outWrap .p-thought .thoughtList li .imgWrap span {
    font-size: 3.723vw;
    margin-top: 2.659vw;
    margin-bottom: 4.787vw;
  }
}

#p-outWrap .p-thought .thoughtList li p {
  max-width: 327px;
  border: 1px solid #fff;
  padding: 17px;
  font-size: 16px;
  border-radius: 15px;
  line-height: 1.6em;
}

@media (max-width: 768px) {
  #p-outWrap .p-thought .thoughtList li p {
    max-width: initial;
    font-size: 4.255vw;
    padding: 5.851vw;
  }
}

#p-outWrap .p-campaign {
  max-width: 1000px;
  margin: 0px auto;
  padding: 90px 0 125px;
  /* スクロールの幅の設定 */
  /* スクロールの背景の設定 */
  /* スクロールのつまみ部分の設定 */
}

@media (max-width: 768px) {
  #p-outWrap .p-campaign {
    padding-bottom: 0;
  }
}

#p-outWrap .p-campaign h3 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}

@media (max-width: 768px) {
  #p-outWrap .p-campaign h3 {
    font-size: 5.319vw;
    margin-bottom: 11.17vw;
  }
}

#p-outWrap .p-campaign .textWrap {
  height: 400px;
  background-color: #1a1a1a;
  padding: 3%;
  overflow: auto;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  #p-outWrap .p-campaign .textWrap {
    height: 106.38vw;
    margin-bottom: 15.159vw;
  }
}

#p-outWrap .p-campaign .textWrap::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

#p-outWrap .p-campaign .textWrap::-webkit-scrollbar-track {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px #333333 inset;
          box-shadow: 0 0 20px #333333 inset;
}

#p-outWrap .p-campaign .textWrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #808080;
}

#p-outWrap .p-campaign .commitBtn {
  max-width: 310px;
  margin: 0 auto;
  display: block;
}

@media (max-width: 768px) {
  #p-outWrap .p-campaign .commitBtn {
    max-width: initial;
  }
}

.bottomColor {
  background-image: url(../img/bottomColor.png);
  background-size: 31.527vw;
  background-repeat: no-repeat;
  background-position: 0px 93%;
  padding-top: 115px;
}

@media (max-width: 768px) {
  .bottomColor {
    padding-top: 18.617vw;
    background-image: none;
  }
}

.banaWrap {
  margin: 0 auto 115px;
  max-width: 1250px;
}

@media (max-width: 768px) {
  .banaWrap {
    margin: 0;
    max-width: 100%;
  }
}

.banaWrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .banaWrap ul {
    display: block;
    padding: 0 6.667vw;
  }
}

.banaWrap ul li {
  max-width: 400px;
  width: 31%;
  background-size: cover;
}

@media (max-width: 768px) {
  .banaWrap ul li + li {
    margin-top: 5.333vw;
  }
}

@media (max-width: 768px) {
  .banaWrap ul li {
    display: block;
    max-width: 100%;
    width: 100%;
  }
}

.banaWrap ul li:first-child {
  background-image: url(../common/img/banaConst.png);
}

.banaWrap ul li:nth-child(2) {
  background-image: url(../common/img/banaCompany.png);
}

.banaWrap ul li:nth-child(3) {
  background-image: url(../common/img/banaSchool.png);
}

.banaWrap ul li a {
  display: block;
  padding: 72px 9% 60px;
}

@media (max-width: 768px) {
  .banaWrap ul li a {
    padding: 20vw 0 12vw;
  }
}

.banaWrap ul li span {
  display: block;
  color: #000;
}

.banaWrap ul li span.title {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 45px;
  letter-spacing: 5px;
}

@media (max-width: 768px) {
  .banaWrap ul li span.title {
    font-size: 8.533vw;
    line-height: 1;
    font-weight: normal;
    letter-spacing: .2em;
    margin-bottom: 4.8vw;
  }
}

.banaWrap ul li span.btn {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", 'Noto Serif JP', serif;
  font-size: 16px;
  padding: 5px 0;
  text-align: center;
  margin: 0 auto;
  max-width: 257px;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .banaWrap ul li span.btn {
    max-width: 100%;
    width: 58.933vw;
    font-size: 3.733vw;
    border: .533vw solid #000000;
    padding: 1.866vw 0;
    font-weight: normal;
  }
}

.banaWrap ul li:last-child {
  width: 100%;
  background-image: url(../common/img/banaSeminar_pc.png);
  background-size: cover;
  margin-top: 3%;
  max-width: 100%;
}

@media (max-width: 768px) {
  .banaWrap ul li:last-child {
    margin-top: 5.333%;
    background-image: url(../common/img/banaSeminar_sp.png);
  }
}

.banaWrap ul li:last-child a {
  display: block;
  padding: 30px 9% 45px;
}

@media (max-width: 768px) {
  .banaWrap ul li:last-child a {
    padding: 6.667vw 0 10.667vw;
  }
}

.banaWrap ul li:last-child a span {
  display: block;
  color: #000;
}

.banaWrap ul li:last-child a span.title {
  font-size: 37px;
  line-height: 37px;
  margin-bottom: 10px;
  padding-top: 40px;
}

@media (max-width: 768px) {
  .banaWrap ul li:last-child a span.title {
    margin-bottom: 2.667vw;
    padding: 0;
    font-size: 8.533vw;
    font-weight: normal;
  }
}

.banaWrap ul li:last-child a span.title:before {
  content: "";
  background-image: url(../common/img/free.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 47px;
  vertical-align: -15px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .banaWrap ul li:last-child a span.title:before {
    background-size: 20.533vw 18.667vw;
    width: 20.533vw;
    height: 18.667vw;
    display: inline-block;
    vertical-align: -3.733px;
    margin-right: 1.333vw;
    padding: 0;
  }
}

.banaWrap ul li:last-child a span.sub {
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto 20px;
  text-align: center;
  letter-spacing: 3px;
}

@media (max-width: 768px) {
  .banaWrap ul li:last-child a span.sub {
    font-size: 4.267vw;
    letter-spacing: .2em;
    font-weight: normal;
    line-height: 1;
    margin: 0 auto 5.333w;
  }
}

.banaWrap ul li:last-child a span.btn {
  font-size: 16px;
  padding: 5px 0%;
  text-align: center;
  margin: 0 auto;
  max-width: 257px;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .banaWrap ul li:last-child a span.btn {
    max-width: 100%;
    width: 58.933vw;
    font-size: 3.733vw;
    border: .533vw solid #000000;
    padding: 1.866vw 0;
    font-weight: normal;
  }
}

#banaFullWrap li {
  max-width: 1365px;
  margin: 0 auto 20px;
}

#banaFullWrap li a {
  display: block;
}
/*# sourceMappingURL=style.css.map */