// pcHeader
#pcNav{
	padding: 0px 2%;
	background-color: #1a1a1a;
	position: fixed;
	width: 96%;
	z-index: 2;
	ul{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		li{
			&:first-child{
				max-width: 201px;
				width: 17%;
				margin-right: 6.25%;
			}
			&:nth-child(2){
				max-width: 151px;
				width: 17%;
				margin-right: 4.3%;
			}
			&:nth-child(3){
				max-width: 95px;
				width: 10%;
				margin-right: 4.3%;
			}
			&:nth-child(4){
				max-width: 144px;
				width: 16%;
				margin-right: 0px;
			}
			&:last-child{
				max-width: 222px;
				width: 22%;
				padding: 20px 0px;
				margin-right: 0px;
				margin-left: auto;
			}
			a{
				display: inline-block;
			}
		}
	}
}


/* spHeader */
#spNav{
	background-color: #1a1a1a;
	width: 100%;
	position: fixed;
	z-index: 2;
	.spNavInner {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: #1a1a1a;
	}
	.spHeader{
		display: inline-block;
		margin: 5.319vw 0 5.319vw 5vw;
		width: 34.574vw;
	}
	#btn-menu-open,#btn-menu-close {
		position: absolute;
		top:  5.319vw;
		width: 6.117vw;
		right: 3vh;
		width: 8vw;
		background: none;
		z-index: 2;
		transition: all .2s ease-in;
		float: right;
		border: none;
		padding: 0;
	}
	#btn-menu-close {
		display: none;
	}
}

#sp-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #1a1a1a;
	overflow: scroll;
	z-index: -1;
	transition: all .3s ease-in;
	visibility: hidden;
	opacity: 0; }

.open-menu #sp-menu {
	visibility: visible;
	opacity: 1;
}

#sp-menu-position {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	.sp-menu-list {
		list-style: none;
		li:first-child{
			width: 79.787vw;
			padding: 20px 0;
		}
		li:nth-child(2){
			width: 50.531vw;
			padding: 20px 0;
		}
		li:last-child{
			width: 71.808vw;
			padding: 20px 0;
		}
	}
}
.sp-contact{
	width: 71.808vw;
	position: absolute;
	left: 50%;
	bottom: 40px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

// 製品ラインナップ
.item-lineup {
	margin-bottom: 110px;
	padding: 0 20px;
	@media (max-width: 768px) {
		margin-bottom: 18.4vw;
		padding: 0 6.667vw;
	}
	.innerTextWrap {
		max-width: 1000px;
		margin: 0 auto;
	}
	h2 {
		font-size: 22px;
		@media (max-width: 768px) {
			font-size: 7.467vw;
			margin-top: 20.533vw;
			margin-bottom: 9.067vw;
		}
	}
	.item-lineup-list-wrap {
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		@media (max-width: 768px) {
			flex-wrap: wrap;
		}
	}
	.item-lineup-list {
		max-width: 313px;
		@media (max-width: 768px) {
			max-width: 100%;
			width: 50%;
		    box-sizing: border-box;
		}
		&:nth-child(odd) {
			@media (max-width: 768px) {
				padding-right: 3.334vw;
			}
		}
		&:nth-child(even) {
			@media (max-width: 768px) {
				padding-left: 3.334vw;
			}
		}
		&:nth-child(2n+3) {
			@media (max-width: 768px) {
				margin-top: 5.333vw;
			}
		}
		+ .item-lineup-list {
			margin-left: 30px;
			@media (max-width: 768px) {
				margin-left: 0;
			}
		}
	}
	.item-lineup-list-desc {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		margin-top: 14px;
		@media (max-width: 768px) {
			font-size: 3.7333vw;
			margin-top: 2.667vw;
			line-height: 4.48vw;
		}
	}
	.item-lineup-list-desc-note {
		font-size: 16px;
		text-align: center;
	}

}




// topに戻る
#topGoWrap{
	max-width: 1365px;
	margin: 0 auto;
    position: fixed;
    bottom: 0px;
    right: 20px;
	#topGoInner{
		width: 40px;
		float: right;
		display: block;
		span{
			display: block;
			text-align: center;
			font-size: 14px;
		}
	}
}


// コピーライト
#footerCopy{
	clear: both;
	background-color: #333333;
	padding: 20px 35px;
	margin-top: 130px;
	@media (max-width: 768px) {
		margin-top: 33.244vw;
		padding: 11.702vw 0 7.978vw;
	}
	ul{
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 768px) {
			display: block;
			text-align: center;
		}
		li{
			&:first-child{
				span{
					font-size: 10px;
					color: #aeaeae;
				}
				img{
					max-width: 200px;
					display: inline-block;
					vertical-align: middle;
					margin-right: 30px;
					@media (max-width: 768px) {
						width: 54.255vw;
						margin-bottom: 8.776vw;
						margin-right: 0;
					}
				}
			}
			&:last-child{
				@media (max-width: 768px) {
					margin-bottom: 11.968vw;
				}
				a{
					display: flex;
					align-items: center;
					justify-content: flex-end;
					width: 220px;
					@media (max-width: 768px) {
						display: block;
						width: auto;
					}
					img{
						width: 45px;
						margin-left: 15px;
						@media (max-width: 768px) {
							width: 11.968vw;
							margin: 0 auto 3.191vw;
						}
					}
					span{
						@media (max-width: 768px) {
							font-size: 4.2666vw;
						}
					}
				}
			}
		}
	}
	.ccText{
		color: #aeaeae;
		font-size: 2.666vw;
		display: block;
		text-align: center;
	}
}
