#pcNav {
  padding: 0px 2%;
  background-color: #1a1a1a;
  position: fixed;
  width: 96%;
  z-index: 2;
}

#pcNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pcNav ul li:first-child {
  max-width: 201px;
  width: 17%;
  margin-right: 6.25%;
}

#pcNav ul li:nth-child(2) {
  max-width: 151px;
  width: 17%;
  margin-right: 4.3%;
}

#pcNav ul li:nth-child(3) {
  max-width: 95px;
  width: 10%;
  margin-right: 4.3%;
}

#pcNav ul li:nth-child(4) {
  max-width: 144px;
  width: 16%;
  margin-right: 0px;
}

#pcNav ul li:last-child {
  max-width: 222px;
  width: 22%;
  padding: 20px 0px;
  margin-right: 0px;
  margin-left: auto;
}

#pcNav ul li a {
  display: inline-block;
}

/* spHeader */
#spNav {
  background-color: #1a1a1a;
  width: 100%;
  position: fixed;
  z-index: 2;
}

#spNav .spNavInner {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1a1a1a;
}

#spNav .spHeader {
  display: inline-block;
  margin: 5.319vw 0 5.319vw 5vw;
  width: 34.574vw;
}

#spNav #btn-menu-open, #spNav #btn-menu-close {
  position: absolute;
  top: 5.319vw;
  width: 6.117vw;
  right: 3vh;
  width: 8vw;
  background: none;
  z-index: 2;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  float: right;
  border: none;
  padding: 0;
}

#spNav #btn-menu-close {
  display: none;
}

#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a1a1a;
  overflow: scroll;
  z-index: -1;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  visibility: hidden;
  opacity: 0;
}

.open-menu #sp-menu {
  visibility: visible;
  opacity: 1;
}

#sp-menu-position {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#sp-menu-position .sp-menu-list {
  list-style: none;
}

#sp-menu-position .sp-menu-list li:first-child {
  width: 79.787vw;
  padding: 20px 0;
}

#sp-menu-position .sp-menu-list li:nth-child(2) {
  width: 50.531vw;
  padding: 20px 0;
}

#sp-menu-position .sp-menu-list li:last-child {
  width: 71.808vw;
  padding: 20px 0;
}

.sp-contact {
  width: 71.808vw;
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.item-lineup {
  margin-bottom: 110px;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .item-lineup {
    margin-bottom: 18.4vw;
    padding: 0 6.667vw;
  }
}

.item-lineup .innerTextWrap {
  max-width: 1000px;
  margin: 0 auto;
}

.item-lineup h2 {
  font-size: 22px;
}

@media (max-width: 768px) {
  .item-lineup h2 {
    font-size: 7.467vw;
    margin-top: 20.533vw;
    margin-bottom: 9.067vw;
  }
}

.item-lineup .item-lineup-list-wrap {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .item-lineup .item-lineup-list-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.item-lineup .item-lineup-list {
  max-width: 313px;
}

@media (max-width: 768px) {
  .item-lineup .item-lineup-list {
    max-width: 100%;
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .item-lineup .item-lineup-list:nth-child(odd) {
    padding-right: 3.334vw;
  }
}

@media (max-width: 768px) {
  .item-lineup .item-lineup-list:nth-child(even) {
    padding-left: 3.334vw;
  }
}

@media (max-width: 768px) {
  .item-lineup .item-lineup-list:nth-child(2n+3) {
    margin-top: 5.333vw;
  }
}

.item-lineup .item-lineup-list + .item-lineup-list {
  margin-left: 30px;
}

@media (max-width: 768px) {
  .item-lineup .item-lineup-list + .item-lineup-list {
    margin-left: 0;
  }
}

.item-lineup .item-lineup-list-desc {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 14px;
}

@media (max-width: 768px) {
  .item-lineup .item-lineup-list-desc {
    font-size: 3.7333vw;
    margin-top: 2.667vw;
    line-height: 4.48vw;
  }
}

.item-lineup .item-lineup-list-desc-note {
  font-size: 16px;
  text-align: center;
}

#topGoWrap {
  max-width: 1365px;
  margin: 0 auto;
  position: fixed;
  bottom: 0px;
  right: 20px;
}

#topGoWrap #topGoInner {
  width: 40px;
  float: right;
  display: block;
}

#topGoWrap #topGoInner span {
  display: block;
  text-align: center;
  font-size: 14px;
}

#footerCopy {
  clear: both;
  background-color: #333333;
  padding: 20px 35px;
  margin-top: 130px;
}

@media (max-width: 768px) {
  #footerCopy {
    margin-top: 33.244vw;
    padding: 11.702vw 0 7.978vw;
  }
}

#footerCopy ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  #footerCopy ul {
    display: block;
    text-align: center;
  }
}

#footerCopy ul li:first-child span {
  font-size: 10px;
  color: #aeaeae;
}

#footerCopy ul li:first-child img {
  max-width: 200px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

@media (max-width: 768px) {
  #footerCopy ul li:first-child img {
    width: 54.255vw;
    margin-bottom: 8.776vw;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  #footerCopy ul li:last-child {
    margin-bottom: 11.968vw;
  }
}

#footerCopy ul li:last-child a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 220px;
}

@media (max-width: 768px) {
  #footerCopy ul li:last-child a {
    display: block;
    width: auto;
  }
}

#footerCopy ul li:last-child a img {
  width: 45px;
  margin-left: 15px;
}

@media (max-width: 768px) {
  #footerCopy ul li:last-child a img {
    width: 11.968vw;
    margin: 0 auto 3.191vw;
  }
}

@media (max-width: 768px) {
  #footerCopy ul li:last-child a span {
    font-size: 4.2666vw;
  }
}

#footerCopy .ccText {
  color: #aeaeae;
  font-size: 2.666vw;
  display: block;
  text-align: center;
}
/*# sourceMappingURL=common.css.map */